@import "media"
@import "mixins"
@import "header"
@import "sliderSection"
@import "drawingSection"
@import "formSection"
@import "walkAround"
@import "tableSection"
@import "ourSuggestions"
@import "submitApplication"
@import "wantToWatch"


body
    background-color: #CCCCCC
    width: 1920px
*
    box-sizing: border-box
    margin: 0
    padding: 0

.wrapperApp
    width: 100%
ul
    list-style-type: none

a
    text-decoration: none

//////////////////////////////

   

//////////////////////////////////////
.next
    width: 1920px
    height: 100px
    margin: 0 auto



@font-face 
	font-family: "MyriadProRegular"
	src: url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.eot")
	src: url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.ttf") format("truetype")
	font-style: normal
	font-weight: normal
    
@font-face
    font-family: "Myriad_Pro_Bold"
    src: url(/fonts/Myriad_Pro_Bold.otf) format("truetype")
    font-style: normal
    font-weight: normal

@font-face
    font-family: "Gilroy_Medium"
    src: url(/fonts/Gilroy-Medium.ttf) format("truetype")
    font-style: normal
    font-weight: normal

@font-face
    font-family: "Gilroy_ExtraBold"
    src: url(/fonts/Gilroy_ExtraBold.otf) format("truetype")
    font-style: normal
    font-weight: normal


// @font-face
//     font-family: 'font4fca61df8d93f64cf79fd4dc833bce1b'
//     src: url('https://nomail.com.ua/files/eot/4fca61df8d93f64cf79fd4dc833bce1b.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/4fca61df8d93f64cf79fd4dc833bce1b.woff') format('woff'), url('https://nomail.com.ua/files/woff2/4fca61df8d93f64cf79fd4dc833bce1b.woff2') format('woff2')


// @font-face
//     font-family: 'CeraRoundPro-Bold'
//     src: local('CeraRoundPro-Bold'), url('https://nomail.com.ua/files/woff/4fca61df8d93f64cf79fd4dc833bce1b.woff') format('woff')


// @font-face 
//     font-family: 'fontd8ab35a62595177faf38ca532f8fe3e3'
//     src:    url('https://nomail.com.ua/files/eot/d8ab35a62595177faf38ca532f8fe3e3.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/d8ab35a62595177faf38ca532f8fe3e3.woff') format('woff'), url('https://nomail.com.ua/files/woff2/d8ab35a62595177faf38ca532f8fe3e3.woff2') format('woff2')


// @font-face 
//     font-family: 'Geometria-Medium'
//     src: local('Geometria-Medium'), url('https://nomail.com.ua/files/woff/d8ab35a62595177faf38ca532f8fe3e3.woff') format('woff')

// @font-face 
//     font-family: 'fontfea79d41994908a221c6dcaa364e59dd'
//     src:    url('https://nomail.com.ua/files/eot/fea79d41994908a221c6dcaa364e59dd.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/fea79d41994908a221c6dcaa364e59dd.woff') format('woff'), url('https://nomail.com.ua/files/woff2/fea79d41994908a221c6dcaa364e59dd.woff2') format('woff2')


// @font-face 
//     font-family: 'CeraRoundPro-Medium'  
//     src: local('CeraRoundPro-Medium'), url('https://nomail.com.ua/files/woff/fea79d41994908a221c6dcaa364e59dd.woff') format('woff')