@font-face {
  font-family: "MyriadProRegular";
  src: url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.eot");
  src: url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Myriad_Pro_Bold";
  src: url(/fonts/Myriad_Pro_Bold.otf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Gilroy_Medium";
  src: url(/fonts/Gilroy-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Gilroy_ExtraBold";
  src: url(/fonts/Gilroy_ExtraBold.otf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto_bold";
  src: url(/fonts/Roboto-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto_regular";
  src: url(/fonts/Roboto-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto_italic";
  src: url(/fonts/Roboto-Italic.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Open_sans";
  src: url(/fonts/OpenSans-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

.about-page {
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  padding: 15px; }

.about-page-bread-crumbs {
  max-width: 1170px;
  min-height: 85px;
  margin: 0 auto;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .about-page-bread-crumbs ul {
    display: grid;
    grid-template-columns: auto auto auto;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    color: #788995; }
  .about-page-bread-crumbs li {
    padding: 0 10px;
    font-family: "Roboto_regular";
    color: #788995; }
  .about-page-bread-crumbs a {
    cursor: pointer;
    text-decoration: underline; }
    .about-page-bread-crumbs a:hover {
      text-decoration: none; }

.about-page-header {
  color: #29516D;
  padding: 0 15px;
  margin: 0 0 40px 0;
  font-family: "Roboto_bold"; }

.guarantees-main-textsection {
  max-width: 1170px;
  magrin: 0 auto;
  padding: 0 8px;
  line-height: 1.6em; }
  .guarantees-main-textsection p:nth-child(2) {
    font-family: 'Roboto_italic';
    padding: 0 0 35px;
    color: #6E7377;
    letter-spacing: .03em; }
  .guarantees-main-textsection h4:nth-child(3) {
    padding: 0 0 35px;
    font-family: 'Roboto_bold';
    color: #585E62;
    letter-spacing: .03em; }
  .guarantees-main-textsection ul {
    padding: 0 0 0 55px;
    font-family: "Roboto_regular";
    color: #6E7377; }
  .guarantees-main-textsection ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: relative;
    top: 2px; }
  .guarantees-main-textsection h4:nth-child(5) {
    padding: 60px 0 35px;
    font-family: 'Roboto_bold';
    color: #585E62;
    letter-spacing: .03em; }
  .guarantees-main-textsection p:nth-child(6) {
    color: #6E7377;
    padding: 0 0 30px;
    font-family: 'Roboto_italic'; }

@media (max-width: 480px) {
  .guarantees-main-textsection ul {
    padding: 0 0 0 25px; } }

.guarantees-three-images {
  padding: initial;
  width: 100%;
  margin: 65px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse; }
  .guarantees-three-images img {
    width: 370px;
    auto: 240px; }

@media (max-width: 1185px) {
  .guarantees-three-images {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .guarantees-three-images img {
      margin: 12px; } }

@media (max-width: 480px) {
  .guarantees-three-images img {
    max-width: 100%;
    height: auto; } }

.guarantees-make-a-request-form {
  position: relative;
  max-width: 1170px;
  min-height: 510px;
  margin: 60px auto 0;
  padding: 0 10px; }
  .guarantees-make-a-request-form h4 {
    font-family: 'Roboto_italic';
    color: #7E8285;
    text-align: center; }
    .guarantees-make-a-request-form h4 span {
      color: #F56458;
      cursor: pointer; }
  .guarantees-make-a-request-form h3 {
    font-family: 'Roboto_regular';
    color: #4A5259;
    text-align: center;
    padding: 80px 0 30px; }

.guarantees-form-wrapper-inputs {
  display: grid;
  grid-template-areas: 'i1 i2 i3' 'i4 i5 i6';
  width: 1070px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px; }
  .guarantees-form-wrapper-inputs input {
    width: 330px;
    height: 40px;
    text-indent: 20px;
    font-family: 'Roboto_regular'; }
  .guarantees-form-wrapper-inputs input:nth-child(1) {
    grid-area: i1; }
  .guarantees-form-wrapper-inputs input:nth-child(2) {
    grid-area: i2; }
  .guarantees-form-wrapper-inputs input:nth-child(3) {
    grid-area: i3; }
  .guarantees-form-wrapper-inputs input:nth-child(4) {
    grid-area: i4; }
  .guarantees-form-wrapper-inputs input:nth-child(5) {
    grid-area: i5; }
  .guarantees-form-wrapper-inputs input:nth-child(6) {
    grid-area: i6; }

@media (max-width: 1170px) {
  .guarantees-form-wrapper-inputs {
    grid-template-areas: 'i1 i2' 'i3 i4' 'i5 i6';
    width: 740px; } }

@media (max-width: 768px) {
  .guarantees-form-wrapper-inputs {
    grid-template-areas: 'i1' 'i2' 'i3' 'i4' 'i5' 'i6';
    width: 470px; } }

@media (max-width: 500px) {
  .guarantees-form-wrapper-inputs {
    width: 320px; }
    .guarantees-form-wrapper-inputs input {
      width: 300px; }
  .guarantees-make-a-request-form {
    padding: 0px; } }

.guarantees-form-wrapper-chechbox {
  width: 660px;
  margin: 30px auto 0;
  min-height: 20px;
  font-family: "Roboto_regular";
  color: #7A7C7D;
  display: grid;
  grid-template-columns: auto auto auto; }
  .guarantees-form-wrapper-chechbox div {
    text-align: center; }
  .guarantees-form-wrapper-chechbox input {
    position: relative; }
  .guarantees-form-wrapper-chechbox label {
    position: relative; }

.guarantees-radio {
  z-index: -1;
  opacity: 0; }

.guarantees-radio + label::before {
  content: '';
  position: absolute;
  left: -22px;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  border-radius: 100%;
  opacity: .5; }

.guarantees-radio + label::after {
  content: '';
  position: absolute;
  left: -18px;
  top: 4px;
  width: 10px;
  height: 10px;
  border: 1px solid red;
  border-radius: 100%;
  opacity: 0; }

.guarantees-radio:checked + label::after {
  opacity: 1;
  background-color: red;
  padding: 5px; }

@media (max-width: 700px) {
  .guarantees-form-wrapper-chechbox {
    width: 320px;
    grid-template-columns: auto;
    grid-gap: 12px;
    padding: 0 10px; }
    .guarantees-form-wrapper-chechbox div {
      text-align: left; } }

.guarantees-form-submit {
  font-family: "Roboto_bold";
  width: 230px;
  height: 50px;
  background-color: #F56458;
  margin: 40px auto 0;
  color: white;
  display: block;
  border-radius: 4px; }

.about-page-form {
  width: 1170px;
  min-height: 260px;
  background-color: white;
  margin: 0 auto; }

.about-page-form-wrapper {
  max-width: 100%;
  min-height: 400px;
  background-color: #EBF1F5;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.about-page-form-header {
  max-width: 700px;
  height: 90px;
  text-align: center;
  margin: 0 auto;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto_regular";
  font-size: 1.2em;
  color: #3F484F; }
  .about-page-form-header h4 {
    position: relative;
    top: 8px; }

.about-page-form-form {
  max-width: 630px;
  height: auto;
  display: grid;
  grid-template-areas: 'leftInput rightInput' 'submit submit';
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  grid-column-gap: 20px; }
  .about-page-form-form input {
    border-radius: 4px;
    margin: 0 0 30px 0;
    text-indent: 10px;
    font-size: 1.2em;
    font-family: "Roboto_regular"; }
  .about-page-form-form input:nth-child(1) {
    grid-area: leftInput;
    width: 270px;
    height: 40px; }
  .about-page-form-form input:nth-child(2) {
    grid-area: rightInput;
    width: 270px;
    height: 40px; }
  .about-page-form-form input:nth-child(3) {
    font-family: "Roboto_bold";
    grid-area: submit;
    width: 230px;
    height: 50px;
    background-color: #F56458;
    margin: 0 auto;
    color: white; }

@media (max-width: 1200px) {
  .about-page-icon-card-section {
    grid-template-areas: 'item1 item2' 'item3 item4'; }
  .about-page-bread-crumbs {
    max-width: 970px; }
  .about-page-contacts-and-map {
    max-width: 970px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: auto; }
  .about-page-map {
    margin: 30px auto 50px auto;
    max-width: 970px; }
  .about-page-form {
    width: 970px; } }

@media (max-width: 992px) {
  .about-page-map {
    max-width: 770px; }
  .about-page-bread-crumbs {
    max-width: 740px; }
  .about-page-contacts-and-map {
    max-width: 740px; }
  .about-page-form {
    width: 740px; } }

@media (max-width: 768px) {
  .about-page-bread-crumbs {
    max-width: 550px; }
  .about-page-form {
    width: 550px;
    padding: 0 0 40px 0; }
  .about-page-form-form {
    grid-template-areas: 'leftInput' 'rightInput' 'submit'; } }

@media (max-width: 576px) {
  .about-page {
    padding: 0px; }
  .about-page-bread-crumbs {
    max-width: 320px; }
  .about-page-form {
    width: 320px; }
  .about-page-form-header {
    font-size: 1em; }
    .about-page-form-header h4 {
      top: 0px; } }
