doctype html
html(lang='en')
  head
    title frost
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='libs/OwlCarousel/dist/assets/owl.carousel.min.css')
    link(rel='stylesheet' href='libs/OwlCarousel/dist/assets/owl.theme.default.min.css')
    link(rel='stylesheet', href='css/mainPage.css')
    link(rel='stylesheet' href='_grid.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='js/index.js', defer='')
    script(src="https://kit.fontawesome.com/f90f7a5525.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src='libs/Magnific/jquery.magnific-popup.min.js')
    script(src='libs/OwlCarousel/dist/owl.carousel.min.js')

  body
    .navBar__toggle
      p
        | menu
    .display
      #width
      #height
      #scroll
    .wrapperAll
      include _pug_partials/main_page/header
      include _pug_partials/main_page/header_navbar2
      include _pug_partials/main_page/first_page_form_section
      include _pug_partials/main_page/break_head
      include _pug_partials/main_page/factors_of_creation
      include _pug_partials/main_page/error_and_resolve
      include _pug_partials/main_page/better_was_consultation
      include _pug_partials/main_page/how_we_noticed
      include _pug_partials/main_page/how_we_work
      include _pug_partials/main_page/clients_reviews
      include _pug_partials/main_page/foto_gallery
      include _pug_partials/main_page/ready_refrigeration
      include _pug_partials/main_page/make_under_key
      include _pug_partials/main_page/certified
      include _pug_partials/main_page/map
      include _pug_partials/main_page/footer

      
      
      
      
      
      
      
      
      
      
      
      
      