extends ../_pug_layouts/home

block styles
  link(rel="stylesheet", href="../css/aboutPage/aboutPage.css")

block content
  .about-page
    nav.about-page-bread-crumbs
      ul
        a(href="../index.html"): li Главная
        span |
        li О нас
    h2.about-page-header О компании
    .about-page-main-text
      p
        | Надёжность, инновационность и скорость исполнения каждой заявки наших клиентов. На рынке производства и обслуживания холодильного оборудования мы работаем уже более 15 лет, годом основания является 2000.
      p
        | И за этот период времени мы надёжно обосновались на рынке потребителеских услуг. Сегодня мы предлагаем самые выгодные для наших постоянных и потенциальных клиентов условия сотрудничества. Это:
      ul
        li
          | низкие расценки наших услуг, достигаемые оптимальным подбором инновационного и функционального оборудования для работы и лучших условий от надёжных поставщиков комплектующих и доборных элементов;
        li
          | гарантийное обслуживание не менее 12 месяцев, при оперативном выезде ремонтной бригады в случае обращения наших клиентов, причём не только в гарантийный или сервисный период, но и на протяжении всей эксплуатации изготовленной и купленной у нас холодильной техники;
        li
          | комплектация камер надёжным и гарантированно качественным оборудованием. Гарантию на использование дают производители, а мы её только поддерживаем. Отсюда качество возводится на уровень само собой разумеющегося факта сотрудничества с нами;
        li
          | на изготовление камеры уходит минимум времени. От 3-х дней;
        li
          | по желанию клиента мы не только проектируем и изготавливаем необходимое оборудование, но и устанавливаем его, что называется "под ключ".
      p
        | Наши холодильные камеры под заказ привлекательны во всех отношениях. Как нам это удаётся - вопрос корпоративной этики, но некоторые моменты мы вам откроем.
      p
        | Во-первых: самые привлекательные расценки на весь предлагаемый нами спектр оборудования возникают по вине:
      ul
        li
          | оптовых потоков добрных и составляющих элементов, а также расходных материалов поставщиков, которые при этом дают значительные скидки, выгодные нам и нашим клиентам:
        li
          | помощи в оптимальном выборе соотношения цена/качество, потребности/возможности каждого заказчика/клиента в индивидуальном порядке;
        li
          | опыта и профессионализма наших мастеров, что позволяет производить необходимые работы быстро, а значит не дорого 
      p.about-page-p-need-topmargin
        | Во вторых: гарантия и надёжность, которые обеспечивает:
      ul
        li
          | 15 летний опыт работы с проставщиками, что позволяет выбирать качество и доступные расценки;
        li
          | годовая гарантия на всё разработанное и приобретённое у нас оборудование, к примеру, холодильные камеры под заказ.
      p.about-page-p-need-topmargin
        | В-третьих простота и корректность в отношении каждого клиента. Сделать заказ у нас просто и легко даже не будучи специалистом в области холодильного оборудования. На основе интуитивно понятной формы, размещённой на сайте, или просто позвонив к нам в офис, составляете заявку. Мы её обрабатываем, то есть составляем несколько набросков по требуемой конфигурации и указанным техническим параметрам. Согласовываем договор на сотрудничество.
      p
        span.about-page-span
          | Оплата любым удобным для вас способом. 
        | И заявка поступает на разработку проекта. Далее вы забираете сами или мы устанавливаем созданные для вас холодильные камеры там, где вы планировали.
      p.about-page-p-need-topmargin.about-page-main-text-last-line
        | Работать с нами легко и предупредительно комфортно.
    .about-page-header2
      h2
        | Как мы работаем
    .about-page-icon-card-section
      .about-page-icon-card-section-item#about-page-icon-card-section-item1
        img(src="/images/aboutPage/aboutPageIcon1.png", alt="")
        h5 Бесплатный замер
        p Замерщик приедет к вам на объект, даст рекомендации, сделает замеры и произведёт расчёт стоимости
      .about-page-icon-card-section-item#about-page-icon-card-section-item2
        img(src="/images/aboutPage/aboutPageIcon2.png", alt="")
        h5 Оплата
        p Для запуска заказа в работу необходимо произвести оплату. Мы принимаем бузналичные и наличные платежи от юридических и физических лиц
      .about-page-icon-card-section-item#about-page-icon-card-section-item3
        img(src="/images/aboutPage/aboutPageIcon3.png", alt="")
        h5 Доставка
        p Поставка комплектующих и оборудования на объект осуществляется после оплаты нашим транспортом
      .about-page-icon-card-section-item#about-page-icon-card-section-item4
        img(src="/images/aboutPage/aboutPageIcon4.png", alt="")
        h5 Монтаж 
        p В согласованную с вами дату приезжает монтажная бригада. Сборка камеры и монтаж оборудования как правило занимают один рабочий день.
    .about-page-map
      script.contactsPage-map(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afd69c68583f375df25774e1b802f34d2487c58b7e782a1dcd3df0181a18194c3&amp;max-width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
    include ../_pug_partials/about_page/about_page_form

block scripts
  script(src='../js/aboutPage.js', defer='')