extends ../_pug_layouts/home

block styles
  link(rel="stylesheet", href="../css/articlesPage/articlesPage.css")

block content
  .about-page
    nav.about-page-bread-crumbs
      ul
        a(href="../index.html"): li Главная
        span |
        li Статьи
  h2.articles-page-header Статьи
  .articles-page
    .articles-page-card-item
      div
        img(src="", alt="")
      h4 Название заголовка
      p Самостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
      a: p Узнать больше
    .articles-page-card-item
      div
        img(src="", alt="")
      h4 Название заголовка
      p Самостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
      a: p Узнать больше
    .articles-page-card-item
      div
        img(src="", alt="")
      h4 Название заголовка
      p Самостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
      a: p Узнать больше
    .articles-page-card-item
      div
        img(src="", alt="")
      h4 Название заголовка
      p Самостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
      a: p Узнать больше
    .articles-page-card-item
      div
        img(src="", alt="")
      h4 Название заголовка
      p Самостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
      a: p Узнать больше
    .articles-page-card-item
      div
        img(src="", alt="")
      h4 Название заголовка
      p Самостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
      a: p Узнать больше
    .articles-page-card-item
      div
        img(src="", alt="")
      h4 Название заголовка
      p Самостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
      a: p Узнать больше
    .articles-page-card-item
      div
        img(src="", alt="")
      h4 Название заголовка
      p Самостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
      a: p Узнать больше
    .articles-page-card-item
      div
        img(src="", alt="")
      h4 Название заголовка
      p Самостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
      a: p Узнать больше
    .articles-page-card-item
      div
        img(src="", alt="")
      h4 Название заголовка
      p Самостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
      a: p Узнать больше


  .about-page-form-wrapper
    include ../_pug_partials/about_page/about_page_form

block scripts
  script(src='../js/articlesPage.js', defer='')