extends ../_pug_layouts/home

block styles
  link(rel="stylesheet", href="../css/guaranteesPage/guaranteesPage.css")

block content
  .about-page
    nav.about-page-bread-crumbs
      ul
        a(href="../index.html"): li Главная
        span |
        li Гарантии и техническое обслуживание
    .guarantees-main-textsection
      h2.about-page-header Гарантии и техническое обслуживание
      p Компания "Холодильные системы" осуществляет гарантийное и техническое обслуживание холодильного оборудования на территрии ЦАО.
      h4 Гарантийное обслуживание:
      ul
        li Устранение заводских дефектов, брака, либо замена оборудования при необходимости.
        li
          | Гарантийное обслуживание - установливаемого оборудования осуществляется в рамках договора подряда на монтаж оборудования.
          br
          | Гарантийный срок 12 месяцев.
      h4: b Техническое обслуживание:
      p Комплекс мер по надлежащему уходу за холодильным оборудованием - поддерживает необходимое техническое состояние агрегата, сущуственно продлевает срок службы.
      ul
        li Техническое обслуживание - осуществляется в рамках договора на техническое обслуживание оборудования. Договор технического обслуживания предоставляет заказчику 30% скидку на техническое обслуживание, а также предоставляет заказчику приоритет при гарантийном обслуживании заказчики заключившие договор технического обслуживания обслуживаются первоочерёдно.
    .guarantees-three-images
      img(src="/images/guaranteesPage/1.jpg", alt="")
      img.guarantees-three-images-n2(src="/images/guaranteesPage/2.jpg", alt="")
      img.guarantees-three-images-n3(src="/images/guaranteesPage/3.jpg", alt="")
  section.guarantees-make-a-request-form
    h4 Ваше оборудование требует срочного ремонта? Необходимо техническое обслуживание? 
      a: span Оформите online заявку!
    h3 Заявка на гарантийное/техническое обслуживание
    form.guarantees-make-a-request-form__form(action="#")
      div.guarantees-form-wrapper-inputs
        input(type="text" placeholder="ФИО")
        input(type="text" placeholder="Телефон")
        input(type="text" placeholder="Адрес объекта")
        input(type="text" placeholder="Марка и модель холод. оборуд.")
        input(type="text" placeholder="Описание неисправности")
        input(type="text" placeholder="Номер договора подряда")
      div.guarantees-form-wrapper-chechbox
        div
          input.guarantees-radio(type='radio' id=('guaranteesType1') name="guaranteesType" value="По гарантии" checked)
          label(for='guaranteesType1') По гарантии
        div
          input.guarantees-radio(type='radio' id=('guaranteesType2') name="guaranteesType" value="Договор технического обслуживания")
          label(for='guaranteesType2') Договор технического обслуживания
        div
          input.guarantees-radio(type='radio' id=('guaranteesType3') name="guaranteesType" value="Однократно")
          label(for='guaranteesType3') Однократно
      input.guarantees-form-submit(type="submit" value="Заказать звонок")
  .about-page-form-wrapper
    include ../_pug_partials/about_page/about_page_form

block scripts
  script(src='../js/guaranteesPage.js', defer='')