extends ../_pug_layouts/home

block styles
  link(rel="stylesheet", href="../css/shippingAndPayment/shippingAndPayment.css")

block content
  .shippingAndPayment-page
    nav.shippingAndPayment-page-bread-crumbs
      ul
        a(href="../index.html"): li Главная
        span |
        li Доставка и оплата
    h2.shippingAndPayment-page-header Доставка и оплата
    
    .shippingAndPayment-main-textsection
      h3 Условия доставки товаров по Москве и Московской области:
      ul
        li Доставка по Москве в пределах МКАД - от 1000 руб!
        li Доставка за МКАД по Московской области - 35 руб. за каждый километр от МКАД!
        li Доставка осущуствляется с понедельника по пятницу с 9:00 до 21:00 Доставка в другое время - по договорённости с менеджерами по телефону +7(495)120-75-72(10:00 - 20:00 пн.-пт.).
      h3 Доставка в другие города РФ осуществляется следующими транспортными компаниями за счёт покупателя:
      ul
        li ПЭК
        li Деловые линии
        li Байкал Сервис
        li СДЭК
        li Энергия
        li Желдор Альянс
      p Стоимость и условия разгрузки необходимо уточнить у менеджера.
      h3 Сроки доставки:
      ul
        li Доставка по Москве и МО осуществляется в течении 1-2 рабочих дней.
        li Доставка по России транспортной компанией - необходимо уточнить у менеджера по телефону +7(495)120-75-72.
      h3 Условия самовывоза:
      ul
        li Забрать товарсамостоятельно можно с нашего склада по адресу: Московская область, г. Балашиха, Шоссе Энтузиастов, д.4.
        li Время работы склада: Понедельник - пятница 9:00 - 17:00.
        li Покупку на складе необходимо согласовать с менеджером по телефону +7(495)120-75-72.
      h3 Способ оптаты:
      ul
        li по наличному расчёту оплата при получении товара (только при частичной предоплате).
        li по наличному расчёту оплата в нашем офисе.
        li по безналичному расчёту на расчётный счёт.
        li по безналичному расчёту на счёт карты Сбербанка

  .about-page-form-wrapper
    include ../_pug_partials/about_page/about_page_form

block scripts
  script(src='../js/shippingAndPayment.js', defer='')