@charset "UTF-8";
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Myriad_Pro_Bold";
  src: url(../fonts/Myriad_Pro_Bold.otf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Gilroy_Medium";
  src: url(../fonts/Gilroy-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Gilroy_ExtraBold";
  src: url(../fonts/Gilroy_ExtraBold.otf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Rotonda_Bold";
  src: url(../fonts/rotonda/rotonda_bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "roboto_regular";
  src: url(../fonts/roboto/roboto_regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto/roboto.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "roboto_thin";
  src: url(../fonts/roboto/roboto_thin.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "arial";
  src: url(../fonts/arial/arial.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "arial_regular";
  src: url(../fonts/arial/arial_regular.otf) format("truetype");
  font-style: normal;
  font-weight: normal; }

html {
  position: relative;
  margin: 0 auto;
  max-width: 1920px; }

body {
  max-width: 1920px;
  margin: 0 auto;
  border: 1px solid gray;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

button {
  outline: none;
    outline-cursor: pointer; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.userSelect {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.wrapperAll {
  position: relative;
  margin: 0 auto;
  max-width: 1920px; }

.wrBlack::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(2, 2, 2, 0.4); }

.for-snow {
  max-width: 100%;
  height: 0;
  overflow: visible;
  margin: 0 auto;
  pointer-events: none; }

.for-snow__paralax1 {
  widows: inherit;
  height: 715px;
  background-image: url(../images/paralax.webp);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto; }

.for-snow__paralax2 {
  widows: inherit;
  height: 715px;
  background-image: url(../images/paralax2.webp);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto; }

.j-first-section {
  position: relative;
  max-width: 100%;
  min-height: 785px;
  background-image: url(../images/first_bg1.webp);
  background-position: center;
  background-size: cover; }

.j-header {
  position: relative;
  max-width: 960px;
  min-height: 140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.j-header__left-logo {
  width: 210px;
  height: 140px;
  background-image: url(../images/left_logo.webp);
  background-repeat: no-repeat;
  background-position: center; }

.j-header-center-menu {
  width: auto;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .j-header-center-menu ul {
    display: grid;
    grid-template-columns: auto auto auto; }
  .j-header-center-menu li {
    padding: 0 13px;
    color: #1668B0;
    font-family: "Rotonda_Bold";
    cursor: pointer;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    z-index: 1; }
    .j-header-center-menu li:hover {
      -webkit-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease;
      color: #20B7EB !important;
      z-index: 1; }
  .j-header-center-menu li a:visited {
    color: inherit; }

.j-header__right-logo {
  width: 150px;
  height: 140px;
  background-image: url(../images/right_logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.j-header__left-logo {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.j-h1-wrapper {
  display: block;
  max-width: 960px;
  margin: 0 auto; }

.j-h1 {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  margin: 10px 0 0;
  color: #0860AC;
  text-align: center;
  font-family: "Rotonda_Bold";
  position: relative;
  left: -10px;
  font-size: 2.2rem; }

.j-h4 {
  margin: 10px 0 0;
  text-align: center;
  font-family: "roboto";
  color: #8D8F90;
  font-size: .84rem;
  position: relative;
  left: -10px;
  line-height: 1.2rem; }

.j-firstsection-form {
  margin: 0 auto;
  width: 556px;
  min-height: 340px;
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: auto auto auto auto;
  font-size: .8rem;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end; }

.j-firstsection-form__right-item1 {
  margin: 8px 0;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  position: relative; }
  .j-firstsection-form__right-item1:before {
    position: absolute;
    left: -150px;
    top: 27px;
    display: grid;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Rotonda_Bold";
    color: #FD7400;
    font-size: .9rem;
    content: 'Электронная почта:'; }
  .j-firstsection-form__right-item1 input {
    border-radius: 40px;
    border: 1px solid #F6E8CB;
    width: 285px;
    height: 50px;
    text-indent: 20px; }

.j-firstsection-form__left-item2 {
  font-family: "arial";
  position: relative; }
  .j-firstsection-form__left-item2 input {
    float: left;
    z-index: -1;
    opacity: 0;
    position: absolute;
    left: -40px;
    top: 5px;
    width: 20px;
    height: 20px; }

.j-firstsection-form__left-item2 input + label {
  position: relative;
  cursor: pointer; }

.j-firstsection-form__left-item2 input + label:before {
  content: '';
  position: absolute;
  left: -40px;
  width: 22px;
  height: 22px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background-image: url("../images/checkbox_bg.webp");
  background-repeat: no-repeat;
  background-size: cover; }

.j-firstsection-form__left-item2 input + label:after {
  z-index: 1;
  content: '';
  position: absolute;
  top: -2px;
  left: -40px;
  width: 25px;
  height: 25px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;
  background-image: url("../images/checkbox.webp");
  background-repeat: no-repeat;
  background-size: contain; }

.j-firstsection-form__left-item2 input:checked ~ label:before {
  left: -40px; }

.j-firstsection-form__left-item2 input:checked ~ label:after {
  opacity: 1;
  background-image: url("../images/checkbox.webp"); }

.j-firstsection-form__left-item2:focus + label:before {
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 0, 0.7);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 0, 0.7); }

.j-firstsection-form__right-item2 {
  font-family: 'arial_regular';
  color: #545555; }

.j-firstsection-form__right-item3 {
  font-family: 'arial_regular';
  color: #545555;
  position: relative; }
  .j-firstsection-form__right-item3 input {
    float: left;
    z-index: 1;
    position: absolute;
    left: -40px;
    top: 5px;
    width: 20px;
    height: 20px; }

.j-firstsection-form__right-item4 button {
  position: relative;
  top: -10px;
  padding: initial;
  margin: initial;
  width: 230px;
  height: 45px;
  background-color: #FD7400;
  border-radius: 40px;
  border: none;
  color: #fff;
  font-family: "Rotonda_Bold";
  font-size: 1rem;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer; }
  .j-firstsection-form__right-item4 button:hover {
    margin: 0 auto;
    -webkit-transform: scale(1.02, 1);
        -ms-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
            box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2); }
  .j-firstsection-form__right-item4 button:active {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1); }

.j-social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 556px;
  margin: 0 auto;
  height: 96px;
  position: relative;
  top: -5px; }

.j-social-icon__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #FD7400;
  font-family: "Rotonda_Bold";
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px; }

.j-social-icon-icons {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.j-social-icon-icons__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin: 6px;
  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer; }
  .j-social-icon-icons__item:hover {
    -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
            box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2); }
  .j-social-icon-icons__item:active {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1); }

.j-social-icon-icons__item--color1 {
  background-color: #3C5B99; }

.j-social-icon-icons__item--color2 {
  background-color: #4EC6F8; }

.j-social-icon-icons__item--color3 {
  background-color: #4D75A4; }

.j-social-icon-icons__item--color4 {
  background-color: #FA9237; }

.j-unic-content {
  min-height: 605px;
  max-width: 100%;
  margin: 0 auto; }

.j-unic-content-cardwrapper {
  display: grid;
  grid-template-areas: 'a b c';
  max-width: 960px;
  margin: 0 auto;
  margin: 40px auto 0; }

.j-unic-content-card {
  width: 300px;
  height: 450px;
  border-radius: 35px; }

.j-unic-content-card--bg1 {
  grid-area: a;
  background-image: url("../images/card_bg1.webp"); }

.j-unic-content-card--bg2 {
  grid-area: b;
  background-image: url("../images/card_bg2.webp"); }

.j-unic-content-card--bg3 {
  grid-area: c;
  background-image: url("../images/card_bg3.webp"); }

.j-unic-content-card__icon {
  width: 80px;
  height: 80px;
  -webkit-box-shadow: 0px 2px 1px rgba(196, 218, 229, 0.9), 0px -1px 1px rgba(196, 218, 229, 0.9), -1px 1px 1px rgba(196, 218, 229, 0.9), 1px -1px 1px rgba(196, 218, 229, 0.9);
          box-shadow: 0px 2px 1px rgba(196, 218, 229, 0.9), 0px -1px 1px rgba(196, 218, 229, 0.9), -1px 1px 1px rgba(196, 218, 229, 0.9), 1px -1px 1px rgba(196, 218, 229, 0.9);
  margin: 120px auto 0;
  border-radius: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease; }
  .j-unic-content-card__icon:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }

.j-unic-content-card__icon--bg1 {
  grid-area: a;
  background-image: url(../images/card_icon1.webp);
  background-position: 7px 9px; }

.j-unic-content-card__icon--bg2 {
  grid-area: b;
  background-image: url(../images/card_icon2.webp);
  position: relative;
  top: -3px; }

.j-unic-content-card__icon--bg3 {
  grid-area: c;
  background-image: url(../images/card_icon3.webp); }

.j-unic-content-card__h3 {
  padding: 10px;
  text-align: center;
  color: #005AA9;
  font-family: "Rotonda_Bold"; }

.j-unic-content-card__p {
  font-family: "roboto_regular";
  text-align: center;
  min-height: 120px; }

.j-unic-content-card__button {
  width: 180px;
  height: 50px;
  border-radius: 40px;
  color: #ffffff;
  border: none;
  margin: 10px auto;
  display: block;
  background-color: #005AA9;
  font-family: "Rotonda_Bold";
  font-size: 1.1rem;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer; }
  .j-unic-content-card__button:hover {
    color: #E8B4CC;
    -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.2);
            box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.2); }

.j-third-section {
  min-height: 636px;
  max-width: 100%;
  background-image: url("../images/thirdsection_bg.webp");
  padding: 45px 0 0;
  background-position: center; }

.j-third-section-topline {
  display: grid;
  max-width: 1920px;
  height: 72px;
  position: relative;
  background-color: #fff;
  overflow: visible; }

.j-third-section-topline-logo {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
  display: grid;
  width: 110px;
  height: 60px;
  background-image: url("../images/nestle_logo.webp");
  position: absolute;
  left: 60px;
  top: 10px;
  background-repeat: no-repeat;
  background-position: center 0; }

.j-third-section-topline-center {
  position: relative;
  max-width: 960px;
  min-height: 72px;
  margin: 0 auto;
  padding: initial;
  display: grid;
  grid-template-columns: 120px auto auto auto auto; }

.j-third-section-topline-center__first-text {
  width: 120px;
  color: #FD7400;
  font-family: "Rotonda_Bold";
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1.1rem; }

.j-third-section-topline-center__text-input {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
  .j-third-section-topline-center__text-input input {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid #F6E8CB;
    text-indent: 10px; }

.j-third-section-topline-center__button {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
  .j-third-section-topline-center__button button {
    position: relative;
    left: 10px;
    z-index: 100;
    font-family: "Rotonda_Bold";
    height: 46px;
    width: 165px;
    border-radius: 40px;
    background-color: #FD7400;
    border: none;
    color: #ffffff;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease; }
    .j-third-section-topline-center__button button:hover {
      margin: 0 auto;
      -webkit-transform: scale(1.02, 1);
          -ms-transform: scale(1.02, 1);
              transform: scale(1.02, 1);
      -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
              box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2); }
    .j-third-section-topline-center__button button:active {
      -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
              transform: scale(1, 1); }

.j-social-icon__text--p {
  position: relative;
  left: 20px;
  font-size: 1.1rem; }

.j-third-section-h2 {
  color: #FD7400;
  font-family: "Rotonda_Bold";
  text-align: center;
  font-size: 1.8rem;
  padding: 3px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.j-third-section-main {
  position: relative;
  max-width: 100%; }

.j-third-section-main-left-side {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  position: absolule;
  top: 100px;
  left: 60px;
  width: 210px;
  height: 130px;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto; }

.j-third-section-main-left-side-vertical-line {
  width: 2px;
  position: absolute;
  background-color: #fff;
  left: 9px;
  height: 100%;
  z-index: 0; }

.j-third-section-main-left-side-circles {
  display: grid;
  grid-template-columns: auto;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; }

.j-third-section-main-left-side-circles__item {
  z-index: 2;
  border-radius: 100%;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: relative;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer; }
  .j-third-section-main-left-side-circles__item:hover {
    background-color: #FD7400; }

.vert-line {
  position: absolute;
  top: -20px;
  left: 7px;
  width: 2px;
  background-color: #fff;
  height: 20px; }

.j-third-section-main-left-side-circles__item--active {
  background-color: #FD7400; }

.j-third-section-main-center {
  max-width: 960px;
  margin: 0 auto;
  min-height: 460px; }

.j-third-section-main-left-side-texts {
  display: grid;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  color: #005AA9;
  font-family: "Rotonda_Bold"; }

.j-third-section-main-center__text {
  text-align: center;
  font-family: "roboto_regular";
  padding: 30px 0; }

.j-third-section-main-center__button {
  color: white;
  font-family: "Rotonda_Bold";
  border: none;
  border-radius: 40px;
  background-color: #FD7400;
  width: 180px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
  left: 2px;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer; }
  .j-third-section-main-center__button:hover {
    margin: 0 auto;
    -webkit-transform: scale(1.02, 1);
        -ms-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
            box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2); }
  .j-third-section-main-center__button:active {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1); }

.j-third-section-main-center-question {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  margin: 0 auto; }

.j-third-section-main-center-question-req {
  width: 435px;
  height: 135px;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  margin: 35px 0 0; }
  .j-third-section-main-center-question-req h3 {
    color: #005AA9;
    font-family: "Rotonda_Bold"; }
  .j-third-section-main-center-question-req p {
    font-family: "roboto_regular";
    font-size: .88rem;
    line-height: 1.2rem;
    margin: 10px 0 0; }

.j-third-section-main-center-question-res {
  width: 560px;
  height: 160px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  margin: 60px 0 0;
  position: relative;
  left: -36px;
  -webkit-box-shadow: 0px 0px 41px 20px rgba(223, 236, 242, 0.8);
          box-shadow: 0px 0px 41px 20px rgba(223, 236, 242, 0.8);
  display: grid;
  grid-template-columns: auto auto; }
  .j-third-section-main-center-question-res h3 {
    color: #005AA9;
    font-family: "Rotonda_Bold"; }
  .j-third-section-main-center-question-res p {
    font-family: "roboto_regular";
    font-size: .88rem;
    line-height: 1.2rem;
    margin: 10px 0 0; }

.angleImg {
  width: 51px;
  height: 39px;
  position: absolute;
  right: 85px;
  bottom: -39px; }

.j-third-section-main-center-question-res__image {
  width: 145px;
  heigth: 160px; }
  .j-third-section-main-center-question-res__image img {
    width: 114px;
    height: 114px; }

.j-third-section-main-center-question-navdots {
  width: 120px;
  height: 14px;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.j-third-section-main-center-question-navdots__item {
  width: 14px;
  height: 14px;
  border: 2px solid #005AA9;
  border-radius: 100%;
  margin: 53px 0 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .j-third-section-main-center-question-navdots__item:hover {
    background-color: #038AFC; }

.j-third-section-main-center-question-navdots__item--active {
  background-color: #005AA9; }

.j-fourth-section {
  max-width: 960px;
  min-height: 630px;
  margin: 0 auto; }

.j-fourth-section-h1-wrapper {
  padding: 65px 0 0;
  min-height: 145px; }

.j-fourth-section-h1 {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  margin: initial;
  color: #0860AC;
  text-align: center;
  font-family: "Rotonda_Bold";
  font-size: 2.2rem; }

.j-fourth-section-cards-wrap {
  max-width: 960px;
  min-height: 430px;
  margin: 0 auto;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: auto auto; }

.j-fourth-section-card {
  width: 460px;
  min-height: 430px;
  border-radius: 40px;
  background-color: #DBF3FF; }

.j-fourth-section-card--modify1 {
  margin: 0 40px 0 0; }

.j-fourth-section-card__img {
  width: 100%;
  min-height: 200px;
  background-position: center; }

.j-fourth-section-card__img--srcleft {
  background-image: url(../images/four_section_item11.webp); }

.j-fourth-section-card__img--srcright {
  background-image: url(../images/four_section_item22.webp); }

.j-fourth-section-card__h4 {
  text-align: center;
  color: #005AA9;
  font-family: "Rotonda_Bold"; }

.j-fourth-section-card__h4--padding {
  padding: 30px; }

.j-fourth-section-card__p {
  font-family: "roboto_regular";
  text-align: center;
  font-size: .85rem;
  line-height: 1.2rem; }

.j-fourth-section-card__button {
  width: 180px;
  height: 50px;
  border-radius: 40px;
  color: #ffffff;
  border: none;
  margin: 20px auto;
  display: block;
  background-color: #005AA9;
  font-family: "Rotonda_Bold";
  font-size: 1.1rem;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer; }
  .j-fourth-section-card__button:hover {
    color: #E8B4CC;
    -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.2);
            box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.2); }

.j-footer-form {
  margin: 0 auto;
  max-width: 100%;
  min-height: 140px;
  background-color: #FFE7D0; }

.j-footer-form-center {
  padding: 28px 0;
  margin: 0 auto;
  max-width: 960px;
  min-height: inherit;
  display: grid;
  grid-template-columns: auto auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.j-footer-form-center-form__h3 {
  color: #FD7400;
  font-family: "Rotonda_Bold";
  font-size: 1.2rem; }

.j-footer-form-center-form__input {
  width: 388px;
  height: 45px;
  border-radius: 12px;
  border: 1px solid #FBDCB0;
  margin: 14px 0 0;
  text-indent: 14px; }

.j-footer-form-center-form__button {
  width: 170px;
  height: 45px;
  border-radius: 40px;
  color: #ffffff;
  font-family: "Rotonda_Bold";
  background-color: #FD7400;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer;
  margin: 20px 20px 0 0; }
  .j-footer-form-center-form__button:hover {
    -webkit-transform: scale(1.02, 1);
        -ms-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
            box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2); }
  .j-footer-form-center-form__button:active {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1); }

.j-footer-form-center-form__button--pos {
  position: relative;
  left: 5px;
  border: none; }

.j-footer-form-center-icons__h4--text-right {
  position: relative;
  left: 4px; }

.j-footer {
  margin: 0 auto;
  max-width: 100%;
  min-height: 112px;
  background-color: #1A5E9B; }

.j-footer-center {
  margin: 0 auto;
  max-width: 960px;
  min-height: inherit;
  padding: 20px 0;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-areas: 'a b c d';
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  color: white;
  font-family: "roboto_regular";
  position: relative; }
  .j-footer-center a {
    color: white; }

.j-footer-center__logo {
  grid-area: a;
  width: 175px;
  height: 50px;
  background-image: url("../images/footer_logo.webp");
  background-repeat: no-repeat; }

.j-footer-center__logo--margin-r {
  margin: 0 30px 0 0; }

.j-footer-center__copyright--margin-r {
  margin: 0 60px 0 0; }

.j-footer-center__copyright {
  grid-area: b;
  align-self: center;
  font-size: .9rem; }
  .j-footer-center__copyright p {
    dispay: block; }

.j-footer-center__link1 {
  self-align: center;
  grid-area: c;
  font-size: .9rem;
  margin: 0 20px 0 0;
  position: relative;
  top: 6px; }
  .j-footer-center__link1 a:hover {
    text-decoration: underline; }

.j-footer-center__link2 {
  self-align: center;
  grid-area: d;
  font-size: .9rem;
  position: relative;
  top: 6px; }
  .j-footer-center__link2 a:hover {
    text-decoration: underline; }

.utube-bgc {
  background-color: #E94639;
  font-size: 1.4rem; }

.displayParams {
  position: fixed;
  bottom: 0px;
  outline: 1px solid lightblue;
  width: auto;
  min-height: 100px;
  color: black;
  z-index: 1000;
  opacity: .5; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1500px) {
  .j-third-section-main-left-side {
    left: 5px; } }

@media (max-width: 1365px) {
  .j-third-section-topline-logo {
    opacity: 0;
    pointer-events: 0; }
  .j-third-section-main-left-side {
    opacity: 0; } }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .j-third-section-topline-gamburger {
    width: 60px;
    height: 42px;
    position: absolute;
    right: 20px;
    top: -20px;
    background-position: center;
    z-index: 5;
    display: grid;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .j-third-section-topline-gamburger__line {
    width: 50px;
    height: 10px;
    background-color: #FD7400;
    border-radius: 4px; }
  .j-header-center-menu ul {
    grid-template-columns: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .j-header-center-menu ul li {
    padding: 10px 0; }
  .j-unic-content-cardwrapper {
    grid-template-areas: 'c c' 'a b';
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .j-unic-content-card--bg1 {
    margin: 0 40px 40px 0; }
  .j-unic-content-card--bg3 {
    margin: 0 0 40px 0;
    position: relative;
    left: 170px; }
  .j-third-section-topline-logo {
    display: none; }
  .j-third-section-topline {
    background-color: transparent;
    height: 0; }
  .j-third-section-topline-center__text-input {
    margin: 0 auto;
    left: 0; }
    .j-third-section-topline-center__text-input input {
      width: 320px;
      margin: 0 auto; }
  .j-third-section-topline-center__button {
    margin: 0 auto; }
    .j-third-section-topline-center__button button {
      left: 10px; }
  .j-social-icon__text {
    text-align: center;
    padding: initial; }
  .j-social-icon__text--p {
    margin: 0 auto;
    text-align: center;
    left: 0; }
  .j-social-icon-icons {
    margin: 0 auto; }
  .j-third-section-topline {
    z-index: 3;
    display: block; }
  .j-third-section-topline-center {
    -webkit-transition: all 0.6s cubic-bezier(0, 0.95, 0.27, 0.95);
    -o-transition: all 0.6s cubic-bezier(0, 0.95, 0.27, 0.95);
    transition: all 0.6s cubic-bezier(0, 0.95, 0.27, 0.95);
    position: relative;
    top: 45px;
    right: -5000px;
    max-width: inherit;
    min-height: 276px;
    padding: initial;
    display: grid;
    grid-template-columns: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    z-index: 2; }
  .j-third-section-topline-center__first-text {
    margin: 6px auto 0;
    width: 320px;
    text-align: center; }
  .j-third-section-main-center__text {
    padding: 30px 5px;
    max-width: 100%;
    margin: 0 auto; }
  .j-third-section-main-center-question {
    grid-template-columns: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .j-third-section-main-center-question-res {
    margin: 0px 0 0; }
  .j-third-section-main-center-question-navdots {
    top: -25px;
    left: -40px; }
  .j-fourth-section-cards-wrap {
    grid-template-columns: auto;
    padding: 30px 0 40px; }
  .j-fourth-section-card--modify1 {
    margin: 0 0 40px 0; }
  .j-footer-center {
    grid-template-areas: 'a b' 'c d'; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .j-third-section-main-center-question-res-image {
    display: none; }
  .j-third-section-main-center-question-req {
    max-width: 320px;
    padding: 6px; }
  .j-third-section-main-center-question-res {
    max-width: 320px;
    padding: 6px;
    left: 0; } }

@media only screen and (max-width: 700px) {
  .j-unic-content-cardwrapper {
    grid-template-areas: 'c' 'a' 'b'; }
  .j-unic-content-card--bg1 {
    margin: 0 0 40px 0; }
  .j-unic-content-card--bg2 {
    margin: 0 0 40px 0; }
  .j-unic-content-card--bg3 {
    margin: 0 0 40px 0;
    position: relative;
    left: 0px; }
  .j-footer-form-center {
    padding: 28px 0;
    margin: 0 auto;
    max-width: 960px;
    outline: 1px solid green;
    min-height: inherit;
    display: grid;
    grid-template-columns: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .j-footer-form-center-form__h3 {
    padding: 20px 0 0; }
  .j-footer-form-center-icons {
    margin: 0 auto; }
  .j-footer-form-center-form__button {
    margin: 20px auto 0;
    display: block; }
  .j-footer-form-center-form__h3 {
    text-align: center; }
  .j-footer-center {
    grid-template-areas: 'a a' 'b b' 'c d';
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .j-footer-center__copyright {
    max-width: 420px;
    margin: 0 auto 10px;
    text-align: center; }
  .j-footer-center__logo {
    margin: 0 auto 10px; }
  .j-footer-center__link1 {
    text-align: center; } }

@media only screen and (max-width: 590px) {
  .j-footer-form-center {
    grid-template-columns: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 568px) {
  .j-header__right-logo {
    opacity: .4; }
  .j-header__left-logo {
    opacity: .4; }
  .j-header-center-menu ul {
    grid-template-columns: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    left: 0;
    top: 0;
    overflow: visible; }
  .j-header-center-menu ul li {
    width: 200px; }
  .j-header-center-menu__li-left {
    position: absolute;
    left: -100px;
    top: -60px; }
  .j-header-center-menu__li-center {
    position: absolute;
    left: -100px;
    top: -20px; }
  .j-header-center-menu__li-right {
    position: absolute;
    left: -100px;
    top: 20px; }
  .j-firstsection-form {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .j-firstsection-form__right-item1 {
    margin: 8px 0;
    display: grid;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    position: relative; }
    .j-firstsection-form__right-item1:before {
      position: absolute;
      left: 0px;
      top: 0px;
      display: grid;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-family: "Rotonda_Bold";
      color: #FD7400;
      font-size: .9rem;
      content: 'Электронная почта:'; }
    .j-firstsection-form__right-item1 input {
      border-radius: 40px;
      border: 1px solid #F6E8CB;
      width: 285px;
      height: 40px;
      text-indent: 20px;
      position: relative;
      top: 15px; }
  .j-h1 {
    font-size: 1.4rem; }
  .j-social-icon {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .j-social-icon-icons {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .j-fourth-section-card {
    width: 320px;
    border-radius: 30px;
    overflow: hidden; } }

@media only screen and (max-width: 480px) {
  .j-firstsection-form {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
    left: 10px; }
  .j-firstsection-form__left-item2 {
    width: 320px; }
  .j-h4 {
    padding: 0 10px; }
  #checkbox + label:before {
    left: 126px;
    top: 10px; }
  #checkbox + label:after {
    left: 126px;
    top: 10px; }
  #checkbox2 + label:before {
    left: 140px;
    top: 150px; }
  #checkbox2 + label:after {
    left: 140px;
    top: 150px; }
  .j-firstsection-form__right-item4 {
    margin: 0 auto; }
    .j-firstsection-form__right-item4 button {
      top: 0px; }
  .j-fourth-section-h1 {
    font-size: 1.4rem;
    height: 30px; }
  .j-fourth-section-h1-wrapper {
    display: grid;
      display-align-content: center;
    padding: 0px 0 0;
    min-height: 75px; } }

@media only screen and (max-width: 420px) {
  .j-footer-form-center-form__input {
    max-width: 320px;
    margin: 0 auto; }
  .j-firstsection-form {
    left: 0px;
    max-width: 320px;
    margin: 0 auto; }
  .j-firstsection-form__right-item4 {
    display: block; }
    .j-firstsection-form__right-item4 button {
      position: relative;
      left: -26px; } }

@media only screen and (max-width: 380px) {
  .j-h1 {
    font-size: 1.3rem; }
  .j-third-section-h2 {
    font-size: 1.4rem; } }

@media only screen and (max-width: 360px) {
  .j-third-section-main-center__text {
    font-size: .9rem; }
  .j-header__left-logo {
    background-image: url(../images/nestle_logo.webp);
    width: 150px; }
  .j-h1-wrapper {
    position: relative;
    left: 12px; }
  /*Disable Animation on Mobile Devices*/ }
