doctype html
html(lang='en')
  head
    title thanks
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/main.css')
    //- script(src='js/index.js', defer='')
    //- script(src="https://kit.fontawesome.com/f90f7a5525.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    //- link(href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    //-     integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
    //-     crossorigin="anonymous")
  body
    // header section
    .wrapper
      .wrapper-content
        .text-and-icon-Section
          .headers-bold
            h1
              | Спасибо, что оставили заявку!
            h2
              | Мы свяжемся с Вами в ближайшее время.
          p.top-Paragraph
            | А пока подписывайтесь на наши аккаунты в соцсетях, там много интересного :)
          .icons
            .icon.bg-facebook
            .icon.bg-instagram
            .icon.bg-vk
          p.bottom-paragraph
            | Если у вас срочный вопрос, то Вы можете позвонить нам по номеру:
          P.phone-number
            | 8 800 301 41 20
