.about-page-form-wrapper
  .about-page-form
    .about-page-form-header
      h4 Оставьте заявку и наш менеджер свяжется с вами и поможет с выбором
    form.about-page-form-form(action="" method="post")
      input(type="text" placeholder="Имя" required)
      input(type="text" placeholder="Телефон" required)
      input(type="submit" value="заказать звонок")