aside.mobileNav
.mobileNav-wrapper-items__empty-div
  .mobileNav-wrapper-items
    .mobileNav-item.mobileNav-item__has-hidden-menu
      div.mobileNav-link-text
        p
          | услуги
          span.mobileNav-item__arrow
    div.mobileNav-hidden-menu#mobileNav-hidden-menu1
      a(href="#"): h3
        | Проектирование
      a(href="#"): p Архитектурное проектирование
      a(href="#"): p Инженерное проектирование
      a(href="#"): p Дизайн интерьера
      a(href="#"): h3
        | Строительство
      a(href="#"): p Газобетон
      a(href="#"): p Керамика
      a(href="#"): p Каркас
      a(href="#"): h3
        | Инженерные системы
      a(href="#"): p Проектирование
      a(href="#"): p Монтаж
      a(href="#"): h3
        | Умный дом
      a(href="#"): h3
        | Ремонт и отделка
    a(href="#")
      .mobileNav-item
        p
          | умный дом
    .mobileNav-item.mobileNav-item__has-hidden-menu
      div.mobileNav-link-text
        p
          | инжинерия
          span.mobileNav-item__arrow
    div.mobileNav-hidden-menu#mobileNav-hidden-menu2
      a(href="#"): h3
        | Инженерия
      a(href="#"): p Проектирование ИС
      a(href="#"): p Монтаж ИС
    .mobileNav-item.mobileNav-item__has-hidden-menu
      div.mobileNav-link-text
        p
          | проектирование
          span.mobileNav-item__arrow
    div.mobileNav-hidden-menu#mobileNav-hidden-menu3
      a(href="#"): h3
            | Проектирование
      a(href="#"): p Архитектурное проектирование
      a(href="#"): p Инженерное проектирование
      a(href="#"): p Дизайн интерьера
    .mobileNav-item.mobileNav-item__has-hidden-menu
      div.mobileNav-link-text
        p
          | строительство
          span.mobileNav-item__arrow
    div.mobileNav-hidden-menu#mobileNav-hidden-menu4
      a(href="#"): h3
        | Строительство
      a(href="#"): p Каркасные дома
      a(href="#"): p Дома из бруса
      a(href="#"): p Дома из блоков
    a(href="#")
      .mobileNav-item
        p
          | пассивный дом
    a(href="#")
      .mobileNav-item
        p
          | блог
    .mobileNav-item.mobileNav-item__has-hidden-menu
      div.mobileNav-link-text
        p
          | о нас
          span.mobileNav-item__arrow
    div.mobileNav-hidden-menu#mobileNav-hidden-menu5
      a(href="#"): h3
        | О нас
      a(href="#"): p Отзывы
      a(href="#"): p Вакансии
      a(href="#"): p Сотрудники
    a(href="#")
      .mobileNav-item
        p
          | контакты