nav.navbar
  ul.navbar__ul
    div.wrappLi  
      li#hidden-menu-link1.hidden-menu-link
        | Услуги
        span.top-nav-span
      div.link1-hidden-block
        div
          a(href="#"): h3
            | Проектирование
          a(href="#"): p Архитектурное проектирование
          a(href="#"): p Инженерное проектирование
          a(href="#"): p Дизайн интерьера
          a(href="#"): h3
            | Строительство
          a(href="#"): p Газобетон
          a(href="#"): p Керамика
          a(href="#"): p Каркас
        div
          a(href="#"): h3
            | Инженерные системы
          a(href="#"): p Проектирование
          a(href="#"): p Монтаж
          a(href="#"): h3
            | Умный дом
          a(href="#"): h3
            | Ремонт и отделка
    div.wrappLi  
      li#hidden-menu-link2.hidden-menu-link
        | Проектирование
        span.top-nav-span
      div.link2-hidden-block
        a(href="#"): h3
          | Проектирование
        a(href="#"): p Архитектурное проектирование
        a(href="#"): p Инженерное проектирование
        a(href="#"): p Дизайн интерьера
    div.wrappLi  
      li#hidden-menu-link3.hidden-menu-link
        | Строительство
        span.top-nav-span
      div.link2-hidden-block.link2-hidden-block__correction-for-link3
        a(href="#"): h3
          | Строительство
        a(href="#"): p Каркасные дома
        a(href="#"): p Дома из бруса
        a(href="#"): p Дома из блоков
    div.wrappLi  
      a(href="#"): li
        | Умный дом
    div.wrappLi  
      li#hidden-menu-link4.hidden-menu-link
        | Инженерия
        span.top-nav-span
      div.link2-hidden-block.link2-hidden-block__correction-for-link4
        a(href="#"): h3
          | Инженерия
        a(href="#"): p Проектирование ИС
        a(href="#"): p Монтаж ИС
    div.wrappLi  
      a(href="#"): li
        | Пассивный дом
    div.wrappLi  
      a(href="#"): li
        | Блог
    div.wrappLi
      li#hidden-menu-link5.hidden-menu-link
        | О нас
        span.top-nav-span
      div.link2-hidden-block.link2-hidden-block__correction-for-link8
        a(href="#"): h3
          | О нас
        a(href="#"): p Отзывы
        a(href="#"): p Вакансии
        a(href="#"): p Сотрудники
    div.wrappLi  
      a(href="#"): li
        | Контакты