* {
  margin: 0;
  padding: 0; }
  *::-moz-selection {
    color: #FEFEFC; }
  *::selection {
    color: #FEFEFC; }

html, body {
  width: 100%;
  outline: 1px solid gray;
  min-width: 360px;
  max-width: 1366px;
  margin: 0 auto;
  height: auto;
  font-size: 16px; }

body {
  background-image: url("../img/images/fon4.jpg");
  background-color: #0c0c0c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Oswald, sans-serif;
  background-position: 0 200px;
  overflow-y: scroll;
  scroll-behavior: smooth; }

.wrapper {
  display: block;
  position: relative;
  padding: 0 0 50px;
  width: 100%;
  max-width: 1366px;
  overflow-x: hidden;
  top: 0;
  left: 0; }
  .wrapper::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.05); }

.wrapCircleImg {
  height: 150px;
  position: relative;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
  -webkit-transform: scale(0.7, 0.7);
      -ms-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
  border: initial; }

.circleImg {
  width: 150px;
  height: 150px;
  cursor: pointer;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-box-shadow: 3px 3px 6px gray, -3px -3px 6px gray;
          box-shadow: 3px 3px 6px gray, -3px -3px 6px gray;
  z-index: 1;
  -webkit-transform: scale(0.7, 0.7);
      -ms-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7); }

.duckText {
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  background-color: #393939;
  font-size: .75em;
  color: #CBBEAE;
  width: 100%;
  min-width: 200px;
  min-height: 140px;
  text-align: center;
  border: 1px solid gray;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 3.5em;
  text-shadow: 1px 1px 5px #0A1D0D;
  margin: initial;
  padding: initial; }
  .duckText p {
    margin: initial;
    padding: initial;
    color: #CBBEAE; }
    .duckText p:before {
      display: block;
      position: absolute;
      content: url("../img/images/lines.png");
      top: 0px;
      left: -webkit-calc(50% - 51px);
      left: calc(50% - 51px); }
    .duckText p:after {
      display: block;
      position: absolute;
      content: url("../img/images/lines.png");
      bottom: -7px;
      left: -webkit-calc(50% - 51px);
      left: calc(50% - 51px);
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

#arrowToTop {
  position: fixed;
  height: 0px;
  width: 100%;
  max-width: inherit;
  z-index: 10; }
  #arrowToTop a {
    position: absolute;
    right: 0px;
    top: 10px;
    -webkit-box-shadow: 0px 0px 0px black;
            box-shadow: 0px 0px 0px black;
    -webkit-transition: -webkit-box-shadow .4s;
    transition: -webkit-box-shadow .4s;
    -o-transition: box-shadow .4s;
    transition: box-shadow .4s;
    transition: box-shadow .4s, -webkit-box-shadow .4s; }
    #arrowToTop a:hover {
      -webkit-box-shadow: 2px 2px 3px 2px gray, -2px -2px 3px 2px gray, 2px -2px 3px 2px gray, -2px 2px 3px 2px gray;
              box-shadow: 2px 2px 3px 2px gray, -2px -2px 3px 2px gray, 2px -2px 3px 2px gray, -2px 2px 3px 2px gray; }
  #arrowToTop div {
    background-image: url("../img/favicon/toTop.png");
    width: 29px;
    height: 85px; }

#arrowToBottom {
  position: fixed;
  bottom: 0;
  height: 0px;
  width: 100%;
  max-width: inherit;
  z-index: 10; }
  #arrowToBottom a {
    position: absolute;
    right: 0px;
    top: -90px;
    -webkit-box-shadow: 0px 0px 0px black;
            box-shadow: 0px 0px 0px black;
    -webkit-transition: -webkit-box-shadow .4s;
    transition: -webkit-box-shadow .4s;
    -o-transition: box-shadow .4s;
    transition: box-shadow .4s;
    transition: box-shadow .4s, -webkit-box-shadow .4s; }
    #arrowToBottom a:hover {
      -webkit-box-shadow: 2px 2px 3px 2px gray, -2px -2px 3px 2px gray, 2px -2px 3px 2px gray, -2px 2px 3px 2px gray;
              box-shadow: 2px 2px 3px 2px gray, -2px -2px 3px 2px gray, 2px -2px 3px 2px gray, -2px 2px 3px 2px gray; }
  #arrowToBottom div {
    background-image: url("../img/favicon/toBottom.png");
    width: 29px;
    height: 85px; }

ul, li, a {
  list-style-type: none;
  text-decoration: none; }

ul {
  position: relative; }

p {
  color: #A9D9F2; }

.wrapSun {
  width: auto;
  height: 70px;
  display: grid;
  grid-template-columns: auto; }

.sun {
  margin: 0 auto;
  width: 150px;
  height: 70px;
  position: relative;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  opacity: 1;
  top: 7px;
  z-index: 1; }

.firstSection {
  border: 1px solid #7F7F7F;
  display: block;
  position: relative;
  margin: 0 5%;
  width: 90%;
  height: 580px;
  background-image: url("../img/images/headerbg2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 0;
  -webkit-border-radius: 80px 40px 75px 0;
          border-radius: 80px 40px 75px 0; }
  .firstSection:before {
    -webkit-border-radius: 87px 37px 75px 0;
            border-radius: 87px 37px 75px 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4); }

.wr16 {
  position: relative;
  z-index: 1; }

.into00 {
  position: relative;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  overflow: hidden;
  width: 150px;
  height: 150px;
  left: -2px; }

.into01 {
  position: absolute;
  -webkit-transform: rotate(22.5deg);
      -ms-transform: rotate(22.5deg);
          transform: rotate(22.5deg);
  overflow: hidden;
  width: 150px;
  height: 150px; }

.into02 {
  overflow: hidden;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  right: 0; }

.into03 {
  background-image: url("../img/images/balls/ball8.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-transform: rotate(-22.5deg);
      -ms-transform: rotate(-22.5deg);
          transform: rotate(-22.5deg);
  width: 150px;
  height: 150px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  -webkit-box-shadow: 2px 2px 6px #7F7F7F inset, -2px -2px 6px #7F7F7F inset;
          box-shadow: 2px 2px 6px #7F7F7F inset, -2px -2px 6px #7F7F7F inset; }

.into04 {
  -webkit-transform: rotate(22.5deg);
      -ms-transform: rotate(22.5deg);
          transform: rotate(22.5deg);
  overflow: hidden;
  width: 150px;
  height: 150px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 2px 2px 6px #7F7F7F inset, -2px -2px 6px #7F7F7F inset;
          box-shadow: 2px 2px 6px #7F7F7F inset, -2px -2px 6px #7F7F7F inset; }

.into05 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: visible;
  width: 150px;
  height: 150px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 2px 2px 6px #7F7F7F inset, -2px -2px 6px #7F7F7F inset;
          box-shadow: 2px 2px 6px #7F7F7F inset, -2px -2px 6px #7F7F7F inset; }

.into06 {
  -webkit-transform: rotate(67.5deg);
      -ms-transform: rotate(67.5deg);
          transform: rotate(67.5deg);
  overflow: visible;
  width: 150px;
  height: 150px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 2px 2px 6px #7F7F7F inset, -2px -2px 6px #7F7F7F inset;
          box-shadow: 2px 2px 6px #7F7F7F inset, -2px -2px 6px #7F7F7F inset; }

.wr16 .into03, .wr16 .into04, .wr16 .into05, .wr16 .into06 {
  -webkit-animation: animaWr16 10s;
          animation: animaWr16 10s; }

@-webkit-keyframes animaWr16 {
  0% {
    -webkit-box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset;
            box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset; }
  25% {
    -webkit-box-shadow: 3px 3px 6px #19B9F5 inset, -3px -3px 6px #19B9F5 inset;
            box-shadow: 3px 3px 6px #19B9F5 inset, -3px -3px 6px #19B9F5 inset; }
  50% {
    -webkit-box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset;
            box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset; }
  75% {
    -webkit-box-shadow: 3px 3px 6px #19B9F5 inset, -3px -3px 6px #19B9F5 inset;
            box-shadow: 3px 3px 6px #19B9F5 inset, -3px -3px 6px #19B9F5 inset; }
  100% {
    -webkit-box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset;
            box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset; } }

@keyframes animaWr16 {
  0% {
    -webkit-box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset;
            box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset; }
  25% {
    -webkit-box-shadow: 3px 3px 6px #19B9F5 inset, -3px -3px 6px #19B9F5 inset;
            box-shadow: 3px 3px 6px #19B9F5 inset, -3px -3px 6px #19B9F5 inset; }
  50% {
    -webkit-box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset;
            box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset; }
  75% {
    -webkit-box-shadow: 3px 3px 6px #19B9F5 inset, -3px -3px 6px #19B9F5 inset;
            box-shadow: 3px 3px 6px #19B9F5 inset, -3px -3px 6px #19B9F5 inset; }
  100% {
    -webkit-box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset;
            box-shadow: 3px 3px 6px #7F7F7F inset, -3px -3px 6px #7F7F7F inset; } }

.top_header {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-border-radius: 95px 44px 44px 88px;
          border-radius: 95px 44px 44px 88px;
  width: 100%;
  height: 150px;
  font-family: "Exo 2";
  background-color: rgba(2, 2, 2, 0.4);
  overflow-y: visible;
  z-index: 1;
  border: 1px solid pink; }

.headText {
  position: relative;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-left: 55px;
  width: 100%;
  height: auto;
  font-family: 'Comfortaa';
  font-size: 1.5em;
  z-index: 1; }
  .headText p {
    width: 100%;
    padding: 0;
    color: #c8c8c8;
    text-shadow: 3px 4px 3px black, -1.5px -2px 3px #589775;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    text-align: center; }
    .headText p:hover {
      text-shadow: 3px 4px 3px black, -1.5px -2px 3px #589775, 1.5px -2px 3px #19B9F5; }

.wrapCenterHeaderDiv {
  display: grid;
  grid-template-columns: 200px auto;
  grid-column-gap: 20px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin: 20px auto 0;
  width: 100%;
  height: 410px;
  -webkit-border-radius: 70px 0 70px 0;
          border-radius: 70px 0 70px 0; }

.lDiv {
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border: 1px solid pink;
  width: 100%;
  height: 405px;
  -webkit-border-radius: 70px 0 70px 0;
          border-radius: 70px 0 70px 0;
  background-color: rgba(2, 2, 2, 0.4);
  margin: initial;
  padding: initial;
  padding: 10px;
  text-align: center; }
  .lDiv p {
    line-height: 1.3em;
    margin-bottom: 0; }
  .lDiv p:hover {
    color: #FAEA92; }

.lDiv p:nth-child(1) {
  font-size: 1.5em;
  position: relative;
  left: 25px; }

.lDiv p:nth-child(3) {
  font-size: .9em; }

.lDiv p:nth-child(8) {
  font-size: 1.3em; }

.lDiv p:nth-child(16) {
  position: relative;
  left: -15px;
  font-size: 1.5em; }

.centerDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 150px;
  grid-row-gap: 20px;
  margin: 0 0 0;
  margin: initial;
  padding: initial;
  position: relative; }

.rDiv ul {
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  grid-row-gap: 5px;
  margin: 0 0 0 auto;
  border: 1px solid pink;
  width: 200px;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.4);
  -webkit-border-radius: 0 31px 0 31px;
          border-radius: 0 31px 0 31px;
  cursor: initial; }
  .rDiv ul li {
    margin: 0% 0%;
    height: 40px;
    width: 100%; }
    .rDiv ul li a {
      cursor: default; }
    .rDiv ul li button {
      font-family: 'Open Sans';
      text-transform: capitalize;
      font-size: .85em;
      line-height: 1.1em;
      color: #b9eaa8;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#5A636A), to(#3D454D));
      background-image: -webkit-linear-gradient(#5A636A, #3D454D);
      background-image: -o-linear-gradient(#5A636A, #3D454D);
      background-image: linear-gradient(#5A636A, #3D454D);
      -webkit-border-radius: 8px 20px 8px 20px;
              border-radius: 8px 20px 8px 20px;
      margin: 0 8%;
      width: 84%;
      height: 100%;
      cursor: crosshair; }
      .rDiv ul li button:hover {
        outline: none;
        color: #fff;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#16191C), to(#616161));
        background-image: -webkit-linear-gradient(#16191C, #616161);
        background-image: -o-linear-gradient(#16191C, #616161);
        background-image: linear-gradient(#16191C, #616161); }

.bDivText {
  height: 100%;
  position: relative;
  left: 0px;
  width: 100%;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: initial;
  padding: initial;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(2, 2, 2, 0.4); }
  .bDivText p {
    opacity: 0;
    overflow-x: hidden;
    margin: initial;
    padding: initial;
    height: 40px;
    position: relative;
    font-size: 1.7em;
    left: -10%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
.wrapperImg {
  display: none;
  background-image: url('/img/images/sky2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
  position: absolute;
  width: 100%;
  height: 150px;
  }
.wr17 {
  margin: initial;
  padding: initial;
  position: relative;
  width: 150px;
  z-index: 3;
  left: -126px;
  -webkit-transform: scale(0.71, 0.71);
      -ms-transform: scale(0.71, 0.71);
          transform: scale(0.71, 0.71);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  .wr17 .into03 {
    background-image: url("../img/images/brokenDisp2.png");
    -webkit-background-size: content content;
            background-size: content;
    background-color: #191917; }

.rollAnim {
  -webkit-animation: roll 2s ease-out;
          animation: roll 2s ease-out; }

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7, 0.7);
            transform: rotate(0deg) scale(0.7, 0.7); }
  50% { }
  100% {
    -webkit-transform: rotate(-90deg) scale(0.7, 0.7);
            transform: rotate(-90deg) scale(0.7, 0.7); } }

@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7, 0.7);
            transform: rotate(0deg) scale(0.7, 0.7); }
  50% { }
  100% {
    -webkit-transform: rotate(-90deg) scale(0.7, 0.7);
            transform: rotate(-90deg) scale(0.7, 0.7); } }

.anima {
  -webkit-animation: newAn 4s ease-out;
          animation: newAn 4s ease-out; }

@-webkit-keyframes newAn {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3); }
  20% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5); }
  60% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    top: 0;
    opacity: 1; }
  80% {
    color: red;
    opacity: 1;
    -webkit-transform: scale(0.85, 0.85);
            transform: scale(0.85, 0.85); }
  100% {
    opacity: 0;
    -webkit-transform: scale(30, 50);
            transform: scale(30, 50); } }

@keyframes newAn {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3); }
  20% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5); }
  60% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    top: 0;
    opacity: 1; }
  80% {
    color: red;
    opacity: 1;
    -webkit-transform: scale(0.85, 0.85);
            transform: scale(0.85, 0.85); }
  100% {
    opacity: 0;
    -webkit-transform: scale(30, 50);
            transform: scale(30, 50); } }

.bDiv {
  position: relative;
  left: 1px;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 0px;
  -webkit-border-radius: 70px 78px 78px 70px;
          border-radius: 70px 78px 78px 70px;
  border: 1px solid #99747A;
  width: 100%;
  height: 100%; }

.afterFirst {
  margin: initial;
  padding: initial;
  background-image: url("../img/images/brokenDisp2.png");
  background-position: 0 250px;
  width: 90%;
  margin: 0 5%;
  height: auto;
  position: relative;
  border: 1px solid gray; }

.wrapDuckSec2 {
  position: relative;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 10px 0;
  margin: 0 20px;
  overflow: visible;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

.rowDuck {
  will-change: opacity;
  margin: initial;
  padding: initial;
  width: 100%;
  padding: 10px 0;
  position: relative; }

.wrapDuck {
  width: 100%;
  padding: initial;
  min-width: 200px;
  max-width: 200px;
  height: 140px; }

.duck {
  cursor: pointer;
  width: 200px;
  height: 140px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid gray; }

.duck2 {
  cursor: pointer;
  width: 200px;
  height: 140px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid gray; }

#angleLabelText {
  position: absolute;
  font-size: 16px;
  text-indent: 5px;
  font-family: "Exo 2";
  color: #CBBEAE;
  padding-left: 3px; }

#angleLabelText2 {
  position: absolute;
  font-size: 16px;
  text-indent: 5px;
  font-family: "Exo 2";
  color: #CBBEAE;
  padding-left: 3px; }

#angleLabelText3 {
  line-height: initial;
  position: absolute;
  font-size: 16px;
  text-indent: 5px;
  font-family: "Exo 2";
  color: #CBBEAE;
  padding-left: 3px; }

#textDuckModal {
  margin: 5%;
  padding: 20px;
  text-align: center;
  color: gray;
  z-index: 1; }

.forest {
  border: 1px solid #7F7F7F;
  padding: 10px;
  position: relative;
  background-image: url("../img/images/forest.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  min-height: 320px;
  height: auto;
  margin: 0 5%; }

.theLostRiverText {
  pointer-events: none;
  margin: 0px 8% 10px;
  position: relative;
  top: 10px;
  width: 84%;
  height: 30px;
  color: #b9eaa8;
  background-color: rgba(40, 40, 40, 0.7);
  font-family: "Exo 2";
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px gray inset, -3px -3px 5px gray inset;
          box-shadow: 3px 3px 5px gray inset, -3px -3px 5px gray inset; }

.theLostRiverText2 {
  border: 1px solid gray;
  padding: 10px 25px;
  margin: 8px 8% 8px;
  position: relative;
  bottom: 8px;
  width: 84%;
  height: 140px;
  background-color: rgba(40, 40, 40, 0.7);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  text-align: center;
  overflow: hidden; }
