.drawing-section {
  position: relative;
  width: 1110px;
  height: 835px;
  border: 1px solid pink;
  margin: 0 auto; }

.drawing-section__common-underline {
  position: absolute;
  top: 98px;
  height: 2px;
  width: 100%;
  background-color: #A7A7A7; }

.drawing-section-navbar {
  width: 100%;
  height: 100px; }

.drawing-section-navbar-ul {
  color: #A7A7A7;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 98px 2px;
  width: 730px;
  height: 100%; }

.drawing-section-navbar-ul__navbar-item {
  height: 100%;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  text-align: center; }

.drawing-section-navbar-ul__navbar-item_active {
  color: black; }

.drawing-section-navbar-ul__underline {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF5640), to(#F0C76C));
  background-image: -o-linear-gradient(left, #FF5640, #F0C76C);
  background-image: linear-gradient(90deg, #FF5640, #F0C76C);
  height: 2px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateX(300px);
      -ms-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  transform: translateX(300px); }

.drawing-section-navbar-ul__underline_unable {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1; }

.drawing-section-image-wiew {
  height: 480px;
  display: grid;
  grid-template-columns: 555px 555px; }

.drawing-section-image-wiew__item {
  background-image: url("/images/plan.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px; }

.want-to-change {
  display: grid;
  grid-template-columns: 300px 300px;
  height: 255px;
  width: 600px;
  margin: 0 auto; }

.want-to-change__plan {
  background-image: url(/images/plans.png);
  background-repeat: no-repeat;
  background-position: 0 25px; }

.want-to-change__text-and-button {
  padding: 10px; }
  .want-to-change__text-and-button p {
    margin-top: 12px;
    letter-spacing: .05em;
    width: 70%;
    font-size: 1.3em; }
  .want-to-change__text-and-button button {
    border-radius: 40px;
    width: 280px;
    height: 60px;
    background-image: -webkit-gradient(linear, left top, right top, from(#FD6446), to(#F2B967));
    background-image: -o-linear-gradient(left, #FD6446, #F2B967);
    background-image: linear-gradient(90deg, #FD6446, #F2B967);
    margin: 0 auto;
    margin-top: 27px;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    border: none; }
    .want-to-change__text-and-button button:hover {
      background-image: -webkit-gradient(linear, left top, right top, from(#FD6446), to(#FD6446));
      background-image: -o-linear-gradient(left, #FD6446, #FD6446);
      background-image: linear-gradient(90deg, #FD6446, #FD6446); }
