.submit-your-application {
  width: 556px;
  height: 270px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto; }

.submit-your-application__image {
  margin: 24px 0 0 0;
  width: 233px;
  height: 151px;
  background-image: url(/images/compass.png); }

.submit-your-application-text-and-button {
  width: 323px; }

.submit-your-application-text-and-button__text {
  margin: 24px auto;
  font-size: 1.4em; }

.submit-your-application-text-and-button__button {
  text-transform: uppercase; }
