.want-to-watch {
  width: 780px;
  height: 240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto; }

.want-to-watch__image {
  width: 377px;
  height: 243px;
  background-image: url(/images/bookAndMobile.png);
  background-position: 0 10px; }

.want-to-watch-text-and-button {
  width: 406px; }

.want-to-watch-text-and-button__text {
  padding: 0 15px;
  font-size: 1.4em;
  margin: 45px auto 30px; }
