section.better-was-consultation
        .better-was-consultation-header
          h2
            | Лучше проконсультироваться у специалистов - чем потратить
            br
            | кучу времени на изучение и подбор, не так ли?
          p
            | Но выбор всегда за вами - мы лишь предоставляем возможности
        .better-was-consultation-image-and-form.container
          .row
            .better-was-consultation-image-and-form__img.col-xl-7
              img(src="/images/maniFridge.jpg", alt="")
            .better-was-consultation-image-and-form__form.col-xl-5
              h6
                | Закажите консультацию!
              input(type="text" placeholder="телефон *")#better-was-consultation__input
              .better-was-consultation-image-and-form__form-icons
                p
                  | Выберите ваш мeсседжер
                div.better-was-consultation-image-and-form__icons
                  img(src="/images/viber.png", alt="")
                  img(src="/images/whatsapp.png", alt="")
                  img(src="/images/telegram.png", alt="")
              input(type='submit' value="Заказать консультацию профи")#better-was-consultation__submit