section.break-head
  div.break-head-wrapper
    div
      h2
        | Ломаете голову над тонкостями микроклимата
        br
        | в холодильной камере?
    div
      p
        | Не знаете как правильно подобрать
        br
        | холодильное оборудование?
    div
      p
        | Где взять правильное техническое
        br
        | задание на проектирование?
  .break-head__arrow
    img(src="/images/breakHeadArrow.png", alt="")