section.certified
        h2
          | Материалы и оборудование сертифицированно
        .certified-items#certified-slider.owl-carousel.owl-theme
          .certified-item
            img(src="/images/sertificate.png", alt="")
          .certified-item
            img(src="/images/sertificate.png", alt="")
          .certified-item
            img(src="/images/sertificate.png", alt="")
          .certified-item
            img(src="/images/sertificate.png", alt="")
          .certified-item
            img(src="/images/sertificate.png", alt="")
          .certified-item
            img(src="/images/sertificate.png", alt="")