section.clients-rewiews
        .clients-rewiews__header
          h2
            | Отзывы наших клиентов
        #review-slider.owl-carousel.owl-theme
          .clients-rewiews__owl-carousel-item
            img(src="/images/readySection1.jpg").clients-rewiews__owl-carousel-item-img
            div.clients-rewiews__icon-and-text
              img(src="/images/reviewIcon1.jpg", alt="")
              div
                h6
                  | Сергей
                p
                  | Надёжность, инновационность и скорость исполнения каждой заявки наших клиентов. На рынке производства и обслуживания холодильного оборудования мы работаем уже более 15 лет, годом основания.
            
          .clients-rewiews__owl-carousel-item
            img(src="/images/readySection2.jpg").clients-rewiews__owl-carousel-item-img
            div.clients-rewiews__icon-and-text
              img(src="/images/reviewIcon1.jpg", alt="")
              div
                h6
                  | Алексей
                p
                  | Надёжность, инновационность и скорость исполнения каждой заявки наших клиентов. На рынке производства и обслуживания холодильного оборудования мы работаем уже более 15 лет, годом основания.
        

          .clients-rewiews__owl-carousel-item
            img(src="/images/readySection3.jpg").clients-rewiews__owl-carousel-item-img
            div.clients-rewiews__icon-and-text
              img(src="/images/reviewIcon1.jpg", alt="")
              div
                h6
                  | Сергей
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ea id nostrum assumenda ut nisi nesciunt beatae sapiente quidem. Ut nulla sed blanditiis qui rerum, quidem sint aliquam autem expedita!

          .clients-rewiews__owl-carousel-item
            img(src="/images/readySection4.jpg").clients-rewiews__owl-carousel-item-img
            div.clients-rewiews__icon-and-text
              img(src="/images/reviewIcon1.jpg", alt="")
              div
                h6
                  | Алексей
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ea id nostrum assumenda ut nisi nesciunt beatae sapiente quidem. Ut nulla sed blanditiis qui rerum, quidem sint aliquam autem expedita!

          .clients-rewiews__owl-carousel-item
            img(src="/images/readySection3.jpg").clients-rewiews__owl-carousel-item-img
            div.clients-rewiews__icon-and-text
              img(src="/images/reviewIcon1.jpg", alt="")
              div
                h6
                  | Сергей
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ea id nostrum assumenda ut nisi nesciunt beatae sapiente quidem. Ut nulla sed blanditiis qui rerum, quidem sint aliquam autem expedita!

          .clients-rewiews__owl-carousel-item
            img(src="/images/readySection3.jpg").clients-rewiews__owl-carousel-item-img
            div.clients-rewiews__icon-and-text
              img(src="/images/reviewIcon1.jpg", alt="")
              div
                h6
                  | Алексей
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ea id nostrum assumenda ut nisi nesciunt beatae sapiente quidem. Ut nulla sed blanditiis qui rerum, quidem sint aliquam autem expedita!

          .clients-rewiews__owl-carousel-item
            img(src="/images/readySection3.jpg").clients-rewiews__owl-carousel-item-img
            div.clients-rewiews__icon-and-text
              img(src="/images/reviewIcon1.jpg", alt="")
              div
                h6
                  | Сергей
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ea id nostrum assumenda ut nisi nesciunt beatae sapiente quidem. Ut nulla sed blanditiis qui rerum, quidem sint aliquam autem expedita!