section.error-and-resolve
        h2.error-and-resolve__h2
          | Очень надеемся что наш опыт поможет вам сэкономить время и средства
        .error-and-resolve-wrap.container
          .row
            .error-and-resolve-wrap__error.col-xl-6
              p
                | ОШИБКА
              p
                | Надежность, инновационность исполнения каждой заявки
                br
                | наших клиентов. На рынке производства и обслуживания холовильного
                br
                | оборудования мы работаем уже более 15 лет, годом основания.
            .error-and-resolve-wrap__resolve.col-xl-6
              p
                | РЕШЕНИЕ
              p
                | Надёжность, инновационность и скорость ксполнения каждой заявки
                br
                | наших клиентов. На рынке производства и обслуживания хдолдильного
                br
                | оборудования мы работаем уже более 15 лет, годом основания.