section.factors-of-creation
        h2.factors-of-creation__h2
          | Факторы создания правильной среды микроклимата
        .factors-of-creation-middle-icon-section.container
          .row.justify-content-center
            .factors-of-creation-middle-icon-section-item.m-1
              .factors-of-creation-middle-icon-section__icon#factors-of-creation__icon1
              .factors-of-creation-middle-icon-section__text
                p
                  | Опытные мастера выполняют
                  br
                  | работу быстрее, а значит -
                  br
                  | дешевле
          
            .factors-of-creation-middle-icon-section-item.m-1
              .factors-of-creation-middle-icon-section__icon#factors-of-creation__icon2
              .factors-of-creation-middle-icon-section__text
                p
                  | Правильный подбор
                  br
                  | холодильной установки по
                  br
                  | соотношению цена - качество
        
            .factors-of-creation-middle-icon-section-item.m-1
              .factors-of-creation-middle-icon-section__icon#factors-of-creation__icon3
              .factors-of-creation-middle-icon-section__text
                p
                  | Большой поток обеспечивает
                  br
                  | лучшие цены у поставщиков
                  br
                  | комплектующих
          
            .factors-of-creation-middle-icon-section-item.m-1
              .factors-of-creation-middle-icon-section__icon#factors-of-creation__icon4
              .factors-of-creation-middle-icon-section__text
                p
                  | Используем материалы
                  br
                  | и агрегаты, которые доказали
                  br
                  | надежность на практике
        p.factors-of-creation__bottomText
          | Всегда можно обратиться в нашу компанию за советом
          br
          | и консультацией - мы дружим со своими клиентами!