section.first-page-form-section
        .first-page-form-section__left-img
          img(src="/images/fridge.png")
        .first-page-form-section-wrapper-right
          .first-page-form-section-wrapper-right__header
            h2
              | Побрерём за вас комплектацию и напишем
              br
              | грамотное и честное техническое задание
          .first-page-form-section-wrapper-right-form
            h3
              | Вызовите замерщика бесплатно!
            .first-page-form-section-wrapper-right__form
              .first-page-form-section-wrapper-right-form__inputs
                input(type="text" placeholder="Имя *")
              .first-page-form-section-wrapper-right-form__inputs
                input(type="text" placeholder="Телефон *")
              .first-page-form-section-wrapper-right-form__inputs#submitBtn
                input(type="submit" value="Вызвать замерщика")