footer.footer
        .footer-left
          h5
            | контакты
          p
            | Работаем с 10 : 00 до 20 : 00 по Москве
            br
            | Aдрес офиса: г. Москва улица Покровка 26/1
        .footer-center
          h5
            | мы в социальный сетях
          div.footer-center-icons
            div.footer-center-icon
              i(class="fab fa-vk")
            div.footer-center-icon
              i(class="fab fa-twitter")
            div.footer-center-icon
              i(class="fab fa-facebook-f")
        .footer-right
          h5
            | о нас
          a.footer-right-link1(href="_pug_pages/about.html")
            p
              | О компании
          a.footer-right-link2(href="_pug_pages/contacts.html")
            p
              | Контакты
          a.footer-right-link3(href="_pug_pages/shipping_and_payment.html")
            p
              | Доставка
              br
              | Оплата
          //- a.footer-right-link4(href="_pug_pages/shipping_and_payment.html")
          //-   p
          //-     | Оплата
