section.foto-gallery
        h3.foto-gallery-header
          | Фотогаллерея
        #gallery-slider.foto-gallery-items.owl-carousel.owl-theme
          .foto-gallery-item
            img(src="/images/reviewIcon1.jpg", alt="")
          .foto-gallery-item
            img(src="/images/reviewIcon1.jpg", alt="")
          .foto-gallery-item
            img(src="/images/reviewIcon1.jpg", alt="")
          .foto-gallery-item
            img(src="/images/reviewIcon1.jpg", alt="")
          .foto-gallery-item
            img(src="/images/reviewIcon1.jpg", alt="")