.wrapper-navBar2
  nav.navBar2.container
    .row.justify-content-center
      .navBar2-column.col-md-.m-1
        .navBar2-row#navBar2-id1
          p
            | холодильные камеры
          .navBar2__arrow
        .navBar2__hidden-menu
          a(href="#")
            p
              | холодильные камеры
          a(href="#")
            p
              | холодильные камеры для пива, кег
          a(href="#")
            p
              | холодильные камеры для мяса и рыбы
          a(href="#")
            p
              | холодильные камеры для ресторанов, кафе
          a(href="#")
            p
              | холодильные камеры - для цветов	
          a(href="#")
            p
              | холодильные камеры на заказ по индивидуальным размерам
          a(href="#")
            p
              | холодильные камеры иные	
        .navBar2-row#navBar2-id2
          p 
            | морозильные камеры
          .navBar2__arrow
    
      .navBar2-column.col-md-.m-1
        .navBar2-row#navBar2-id3
          p
            | Выносной, промышленный, агро-холод
          .navBar2__arrow
        .navBar2-row#navBar2-id4
          p 
            | Холодильные, морозильные склады
          .navBar2__arrow
    
      .navBar2-column.col-md-.m-1
        .navBar2-row#navBar2-id5
          p
            | Услуги
          .navBar2__arrow
        .navBar2-row#navBar2-id6
          p
            | Карта сайта
          .navBar2__arrow