section.how-we-noticed
        .how-we-noticed-header
          h2
            | Как мы заметили ошибки совершаются на старте бизнеса,
            br
            | вы готовы их сделать чтобы прочувствовать всё на себе?
          p
            | Основные ошибки в начале бизнеса с холодильными системами
        .how-we-noticed-card.container
          .row.justify-content-center
            .how-we-noticed-card-item
              .how-we-noticed-card-item__icon
              .how-we-noticed-card-item__text
                p
                  | Используем материалы и агрегаты,
                  br
                  | которые доказали Надёжность
                  br
                  | на практике
            .how-we-noticed-card-item
              .how-we-noticed-card-item__icon
              .how-we-noticed-card-item__text
                p
                  | Используем материалы и агрегаты,
                  br
                  | которые доказали Надёжность
                  br
                  | на практике
            .how-we-noticed-card-item
              .how-we-noticed-card-item__icon
              .how-we-noticed-card-item__text
                p
                  | Используем материалы и агрегаты,
                  br
                  | которые доказали Надёжность
                  br
                  | на практике