section.make-under-key
        .make-under-key__header
          h2
            | Сделаем всё под ключ - вы не потратите кучу времени
            br
            | на подбор и комплектацию объекта
          p
            | Комплектуем камеры всем необходимым оборудованием
        .make-under-key-items
          .make-under-key-item
            .make-under-key-item__img#make-under-key-item1
            .make-under-key-item__text
              p
                | Вешало
                br
                | для мяса
          .make-under-key-item
            .make-under-key-item__img#make-under-key-item2
            .make-under-key-item__text
              p
                | Стеллажи
                br
                | для цветов
          .make-under-key-item
            .make-under-key-item__img#make-under-key-item3
            .make-under-key-item__text
              p
                | Стеллажи
                br
                | металлические
          .make-under-key-item
            .make-under-key-item__img#make-under-key-item4
            .make-under-key-item__text
              p
                | Ширма для
                br
                | холодильной камеры
          .make-under-key-item
            .make-under-key-item__img#make-under-key-item5
            .make-under-key-item__text
              p
                | Зеркала для
                br
                | холодильной камеры