section.map
        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afd69c68583f375df25774e1b802f34d2487c58b7e782a1dcd3df0181a18194c3&amp;width=100%25&amp;height=320&amp;lang=ru_RU&amp;scroll=true")