section.readyRefrigeration
        .readyRefrigeration__header
          h2
            | Готовое холодильное оборудование для разных сфер бизнеса
        .readyRefrigeration-items-section.container
          .row.justify-content-center
            .readyRefrigeration-items.col-lg-.m-2
              .readyRefrigeration-items__img#readyRefrigeration-items__img1
              .readyRefrigeration-items__text
                p
                  | Холодильные
                  br
                  | камеры
            .readyRefrigeration-items.col-lg-.m-2
              .readyRefrigeration-items__img#readyRefrigeration-items__img2
              .readyRefrigeration-items__text
                p
                  | Холодильные
                  br
                  | агрегаты
            .readyRefrigeration-items.col-lg-.m-2
              .readyRefrigeration-items__img#readyRefrigeration-items__img3
              .readyRefrigeration-items__text
                p
                  | Холодильные
                  br
                  | шкафы
            .readyRefrigeration-items.col-lg-.m-2
              .readyRefrigeration-items__img#readyRefrigeration-items__img4
              .readyRefrigeration-items__text
                p
                  | Холодильные
                  br
                  | столы
          .row.justify-content-center
            .readyRefrigeration-items.col-lg-.m-2
              .readyRefrigeration-items__img#readyRefrigeration-items__img5
              .readyRefrigeration-items__text
                p
                  | Лари
            .readyRefrigeration-items.col-lg-.m-2
              .readyRefrigeration-items__img#readyRefrigeration-items__img6
              .readyRefrigeration-items__text
                p
                  | Холодильные
                  br
                  | горки
            .readyRefrigeration-items.col-lg-.m-2
              .readyRefrigeration-items__img#readyRefrigeration-items__img7
              .readyRefrigeration-items__text
                p
                  | Витрины
            .readyRefrigeration-items.col-lg-.m-2
              .readyRefrigeration-items__img#readyRefrigeration-items__img8
              .readyRefrigeration-items__text
                p
                  | Бонеты
                  br
                  | длы продуктов