@import '../mixins'
@import '../fonts'
  
  
.about-page
  max-width: 1170px
  height: auto
  margin: 0 auto
  padding: 15px
.about-page-bread-crumbs
  max-width: 1170px
  min-height: 85px
  margin: 0 auto
  display: grid
  align-content: center
  & ul
    display: grid
    grid-template-columns: auto auto auto
    justify-content: start
    color: #788995
  & li
    padding: 0 10px
    font-family: "Roboto_regular"
    color: #788995
  & a
    cursor: pointer
    text-decoration: underline
    &:hover
      text-decoration: none
.about-page-header
  color: #29516D
  padding: 0 15px
  margin: 0 0 40px 0
  font-family: "Roboto_bold"

.about-page-main-text
  font-family: "Roboto_bold"
  color: #6E7477
  line-height: 1.5em
  & p:first-child
    margin: 0 0 30px 0
  & p:nth-child(2)
    margin: 0 0 15px 0
  & ul
    padding: 0 0 0 55px
  & ul li::before 
    content: "\2022"
    color: red
    font-weight: bold
    display: inline-block
    width: 1em
    margin-left: -1em
    position: relative
    top: 2px
  & p:nth-child(4)
    margin: 30px 0
  // & p:nth-child(5)
  //   margin: 30px 0
  & span
    color: black
.about-page-p-need-topmargin
  margin: 30px 0
    
.about-page-main-text-last-line
  font-style: italic
.about-page-header2
  max-width: 1170px
  min-height: 110px
  color: #29516D
  +c
.about-page-icon-card-section
  max-width: 1170px
  min-height: 270px
  display: grid
  justify-content: center
  grid-template-areas: 'item1 item2 item3 item4'
  grid-gap: 30px
#about-page-icon-card-section-item1
  grid-area: item1
#about-page-icon-card-section-item2
  grid-area: item2
#about-page-icon-card-section-item3
  grid-area: item3
#about-page-icon-card-section-item4
  grid-area: item4
.about-page-icon-card-section-item
  font-family: "Roboto_regular"
  padding: 28px
  width: 270px
  height: 270px
  border: 1px solid #E8ECEF
  & img
    height: 50px

  & h5
    padding: 20px 0 16px
    color: #3F484F

  & p
    font-size: .96em
    color: #9CA8B1
.about-page-map
  padding: 40px 0
  margin: 70px auto
  max-width: 1170px
  min-height: 400px

.about-page-form-wrapper
  max-width: 100%
  min-height: 400px
  background-color: #EBF1F5
  +c

.about-page-form
  width: 1170px
  min-height: 260px
  background-color: white

  

.about-page-form-header
  max-width: 700px
  height: 90px
  text-align: center
  margin: 0 auto
  +c
  font-family: "Roboto_regular"
  font-size: 1.2em
  color: #3F484F
  & h4
    position: relative
    top: 8px

.about-page-form-form
  max-width: 630px
  height: auto
  display: grid
  grid-template-areas: 'leftInput rightInput' 'submit submit'
  +c
  margin: 0 auto
  grid-column-gap: 20px
  & input
    border-radius: 4px
    margin: 0 0 30px 0
    text-indent: 10px
    font-size: 1.2em
    font-family: "Roboto_regular"
  & input:nth-child(1)
    grid-area: leftInput
    width: 270px
    height: 40px
  & input:nth-child(2)
    grid-area: rightInput
    width: 270px
    height: 40px
  & input:nth-child(3)
    font-family: "Roboto_bold"
    grid-area: submit
    width: 230px
    height: 50px
    background-color: #F56458
    margin: 0 auto
    color: white

@media (max-width: 1200px)
  .about-page-icon-card-section
    grid-template-areas: 'item1 item2' 'item3 item4'
  .about-page-bread-crumbs
    max-width: 970px
  .about-page-contacts-and-map
    max-width: 970px
    justify-content: center
    grid-template-columns: auto
  .about-page-map
    margin: 30px auto 50px auto
    max-width: 970px
  .about-page-form
    width: 960px


@media (max-width: 992px)
  .about-page-map
    max-width: 740px
  .about-page-bread-crumbs
    max-width: 740px
  .about-page-contacts-and-map
    max-width: 740px

  .about-page-form
    width: 730px


@media (max-width: 768px)
  .about-page-bread-crumbs
    max-width: 550px
  .about-page-map
    max-width: 550px
  .about-page-contacts-and-map
    width: 550px
  .about-page-form
    width: 550px
    padding: 0 0 40px 0
  .about-page-form-form
    grid-template-areas: 'leftInput' 'rightInput' 'submit'
@media (max-width: 730px)
  .aboutPage-map
    display: none
    display: block
@media (max-width: 600px)
  .about-page-icon-card-section
    grid-template-areas: 'item1' 'item2' 'item3' 'item4'
@media (max-width: 576px)
  .about-page
    padding: 6px
  .about-page-bread-crumbs
    max-width: 320px
  .about-page-map
    max-width: 320px
  .about-page-contacts-and-map
    width: 320px
  .about-page-form
    width: 320px
  .about-page-form-header
    font-size: 1em
    & h4
      top: 0px


