doctype html
html(lang='en')
  head
    title menu
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='js/index.js', defer='')
    script(src="https://kit.fontawesome.com/f90f7a5525.js")
    script(src='libs/Magnific/jquery.magnific-popup.min.js')
  body
    .wrapperAll
      include pug/_partials/gumburger
      include pug/_partials/topNavbar
      include pug/_partials/mobileNavbar
      .gutter-empty-div-under-menu
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam voluptatem omnis cumque vero architecto odio velit nulla doloribus odit. Laboriosam maiores accusamus quo nihil sint aspernatur est ipsa explicabo, facere alias ex tempora beatae accusantium consequatur hic sapiente cum quos quasi tempore itaque. Repellendus, quos nesciunt? Voluptatum, molestiae maiores! Ad sit dolorum rem unde libero quo, commodi numquam nam. Eos minus mollitia cupiditate optio voluptates nesciunt vero, qui quod dolore cumque ducimus maiores esse inventore. Eum totam nulla facilis quis explicabo maxime quo voluptatum beatae architecto nesciunt magnam ipsa tempora voluptatem blanditiis dignissimos, fuga provident ullam consequatur molestias. Possimus, odio.
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta necessitatibus quam, vel assumenda, esse cum sequi non reprehenderit explicabo dolorem itaque pariatur debitis a hic perspiciatis, eos eius beatae architecto. Molestiae beatae sunt, est corrupti nihil ipsa, optio molestias fugiat tempore pariatur eius. Modi aliquam obcaecati velit, beatae quibusdam tenetur dicta expedita, ex accusantium nobis suscipit rerum. Suscipit omnis modi placeat, praesentium eaque aliquam excepturi vitae est quo aperiam quis provident? Inventore vel delectus provident quis temporibus, repellat tenetur minima voluptas amet laborum quod quidem consequuntur harum ipsa consectetur dolores quibusdam? Voluptatem alias facilis natus impedit ipsum nam culpa aperiam! Saepe, nisi. Nemo modi, ipsum expedita, praesentium, corporis iure suscipit consectetur voluptas quia a repellat exercitationem autem ducimus. Quod, odit eaque amet aliquid obcaecati veniam? Aspernatur inventore error pariatur aliquam. Aut, cumque optio ipsum magnam voluptatum repellendus inventore eligendi! Amet eius minus inventore qui, nihil, soluta, aspernatur quia natus iste molestias nobis vitae autem dignissimos eligendi nisi? Hic a pariatur accusamus fugit ipsa illum inventore alias, quidem explicabo velit dolorem eaque mollitia nulla, blanditiis accusantium similique quos voluptate laboriosam aliquid! Porro aspernatur veritatis officiis, fugiat perspiciatis atque. Eveniet qui, nemo et facere voluptatum mollitia doloribus, alias voluptates sunt aliquam reprehenderit commodi nisi, consequatur ratione ea dicta quae explicabo eos est laborum expedita officia sed fuga! Exercitationem sed consectetur dolore ut vel quis ullam doloribus nam. Ratione corporis tenetur nihil molestias iure cupiditate molestiae placeat illo repellendus in consequatur deserunt nemo corrupti quae, optio reiciendis sit voluptates aperiam maiores architecto sunt, commodi nobis unde. Dolorem inventore molestias expedita iure. Reprehenderit nobis illo fugiat quibusdam dolores! Est recusandae, repellat voluptate nihil, sequi quidem harum eum sed corrupti ex laborum? Expedita explicabo magnam quam quas ducimus ipsam dolorum dignissimos aliquam voluptatem consectetur. Voluptatum, deleniti recusandae doloremque cumque eum ipsam aut exercitationem possimus nihil. 
      
      
        
