doctype html
html(lang='en')
  head
    title menu
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='js/index.js', defer='')
    script(src="https://kit.fontawesome.com/f90f7a5525.js")
    script(src='libs/Magnific/jquery.magnific-popup.min.js')
  body
    .wrapperAll
      include pug/_partials/gumburger
      include pug/_partials/topNavbar
      include pug/_partials/mobileNavbar



      
      
        
