doctype html
html(lang='en')
  head
    title menu
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='js/index.js', defer='')
    script(src="https://kit.fontawesome.com/f90f7a5525.js")
    script(src='libs/Magnific/jquery.magnific-popup.min.js')
  body
    .wrapperAll
      include pug/_partials/gumburger
      include pug/_partials/topNavbar
      include pug/_partials/mobileNavbar
      .gutter-empty-div-under-menu
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam voluptatem omnis cumque vero architecto odio velit nulla doloribus odit. Laboriosam maiores accusamus quo nihil sint aspernatur est ipsa explicabo, facere alias ex tempora beatae accusantium consequatur hic sapiente cum quos quasi tempore itaque. Repellendus, quos nesciunt? Voluptatum, molestiae maiores! Ad sit dolorum rem unde libero quo, commodi numquam nam. Eos minus mollitia cupiditate optio voluptates nesciunt vero, qui quod dolore cumque ducimus maiores esse inventore. Eum totam nulla facilis quis explicabo maxime quo voluptatum beatae architecto nesciunt magnam ipsa tempora voluptatem blanditiis dignissimos, fuga provident ullam consequatur molestias. Possimus, odio.
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, est ut et eos, maxime natus nobis fugit enim vel unde dicta perspiciatis corporis voluptas assumenda sapiente obcaecati quisquam deleniti! Dolorem quod blanditiis cumque sit, vero ipsam quibusdam ad dolorum possimus ex temporibus, alias accusamus delectus voluptatem suscipit sequi sint nisi voluptas ipsum! Itaque fuga id corporis sed enim accusantium suscipit dolores deleniti laborum ducimus modi reiciendis dolore numquam repellat, iste, velit a animi vero illo eos iure eaque quam. Id nemo at harum alias. Deserunt eum accusantium, quaerat fugiat aperiam quas atque, eaque repudiandae laudantium delectus id? Voluptatibus nulla placeat atque alias et vel excepturi minus a asperiores odio porro eaque fugiat iusto voluptates aperiam, corrupti deserunt impedit quidem consequatur quae? Eligendi totam, delectus vitae nulla corporis incidunt rerum dolorum deleniti minus. Magnam perferendis quis accusantium aliquid iusto cum eligendi, officiis consequuntur quod saepe aut beatae excepturi sequi aperiam ipsa hic fugit labore obcaecati reprehenderit dolor quibusdam fuga, eos magni. Provident at explicabo voluptatibus aut quae, est sequi cumque omnis tenetur quas assumenda odio laudantium voluptate labore natus velit libero deserunt illo? Atque eos dolor dolorum explicabo doloribus, illo omnis dicta architecto sed non quia, ipsa suscipit sunt repellat ad distinctio nihil aliquid facere minima quam velit eligendi debitis quaerat. Dolorum nisi, temporibus dolore facere reprehenderit placeat earum laboriosam libero id fugiat aspernatur expedita assumenda tempore. Inventore, pariatur, nesciunt tempore sed iusto eveniet sint itaque laboriosam rerum exercitationem aspernatur reiciendis necessitatibus quae, consequuntur voluptatibus delectus eos ex ad eligendi. Deserunt illum vel culpa, sit vero deleniti velit, optio eius doloribus reprehenderit, alias iste fuga animi rerum minus at quis quibusdam amet eum rem. Cumque cupiditate alias, deserunt eius perspiciatis sit labore neque voluptate reiciendis nobis eos explicabo animi pariatur praesentium voluptas! Omnis ex aliquam odio, tempora et fugiat voluptatem ipsam!
      
      
        
