doctype html
html(lang='en')
  head
    title start template
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
    script(src='js/index.js', defer='')
    //- script(src="https://kit.fontawesome.com/f90f7a5525.js")
    //- script(src='libs/Magnific/jquery.magnific-popup.min.js')

  body
    // header section
    .wrapperAll
      header.j-header
        .j-header-logo
          .j-header-logo__img
          .j-header-logo__text

        .j-header-phones-and-button-section
          .j-header-phones-and-button-section-phone.j-header-grid1
            p.j-header-phones-and-button-section__text.j-header-phones-and-button-section--violet-color
              | Советский офис
            p.j-header-phones-and-button-section__phonenumber.j-header-phones-and-button-section--phone-color
              | +7(4832) 32 50 90
            p.j-header-phones-and-button-section__description.j-header-phones-and-button-section--grey-color
              | пн-пт: 10:00-19:00, сб: 10:00-16:00
          .j-header-phones-and-button-section-phone.j-header-grid2
            p.j-header-phones-and-button-section__text.j-header-phones-and-button-section--red-color
              | Бежицкий офис
            p.j-header-phones-and-button-section__phonenumber.j-header-phones-and-button-section--phone-color
              | +7(4832) 32 14 14
            p.j-header-phones-and-button-section__description.j-header-phones-and-button-section--grey-color
              | пн-пт: 10:00-19:00, сб: 10:00-16:00
          .j-header-phones-and-button-section-button.j-header-grid3
            .j-header-phones-and-button-section-button-icon
            .j-header-phones-and-button-section-button-text.j-header-phones-and-button-section--grey-color
              p
                | Написать
                br
                | директору
            .j-header-phones-and-button-section-button-btn
              button
                | онлайн-оплата
        div.j-empty
        nav.j-navbar.j-header-phones-and-button-section--grey-color
          .j-gamburger
          ul
            li.j-navbar__li.j-header-phones-and-button-section--red-color
              a
                | Акции
              div.j-star
            li.j-navbar__li
              a
                | В квартиру
            li.j-navbar__li
              a
                | На балкон
            li.j-navbar__li
              a
                | В коттедж
            li.j-navbar__li
              a
                | Тёплый аллюминий
            li.j-navbar__li
              a
                | Диллерам
            li.j-navbar__li
              a
                | Контакты
          
      .displayParams
        p#width 
        p#height 
        p#scroll 
        p#mouseX 
        p#mouseY
        P#clientX
        P#clientY

        


